{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="loginModalLabel">{% trans "Barddo Login" %}</h4>
            </div>
            <div class="modal-body">
                <a href="{% url 'socialauth_begin' 'facebook' %}{% if next_url %}?next={{ next_url }}{% endif %}"
                   class="btn btn-block facebook-color"><i class="icon-facebook-sign"></i>
                    {% trans "Login with Facebook" %}</a>
                <a href="{% url 'socialauth_begin' 'google-oauth2' %}{% if next_url %}?next={{ next_url }}{% endif %}"
                   class="btn btn-block google-color"><i class="icon-google-plus-sign"></i>
                    {% trans "Login with Google" %}</a>
            </div>
        </div>
    </div>
</div>