{% extends 'main_template.html' %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% load compress %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.3.custom.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/jquery.gritter.css" %}"/>
    <link rel="stylesheet" href="{% static "css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-editable.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <!-- TODO: extract this logic to a template tag, so the breadcrumbs are calculated by the system -->
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">Home</a>
        </li>
        <li class="active">Profile</li>
    </ul><!-- .breadcrumb -->
{% endblock %}

{% block content %}

    <div class="page-content">

        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                {#    <div class="hr dotted"></div>#}

                <div>
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center profile-user-col">
                            <div>
            <span class="profile-picture">
                <img id="avatar" class="editable img-responsive" alt="Alex's Avatar"
                     src="{{ MEDIA_URL }}{{ viewing_user_profile.avatar }}"/>
            </span>

                                <div class="space-4"></div>

                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <span class="white">{{ viewing_user.get_full_name }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="space-6"></div>

                            {% if not editable %}
                                <div class="profile-contact-info">
                                    <a href="#" class="btn btn-sm btn-block btn-success">
                                        <i class="icon-plus-sign bigger-120"></i>
                                        <span class="bigger-110">Follow</span>
                                    </a>
                                </div>
                            {% endif %}

                            <div class="space-6"></div>

                            <div class="hr hr12 dotted"></div>

                            <div class="clearfix">
                                <div class="grid2">

                                    <span class="bigger-175 blue"><i class="icon-star"></i> 25</span>

                                    <br/>
                                    Followers
                                </div>

                                <div class="grid2">

                                    <span class="bigger-175 blue"><i class="icon-group"></i> 12</span>

                                    <br/>
                                    Following
                                </div>
                            </div>

                            <div class="hr hr16 dotted"></div>

                            <div class="space-6"></div>

                            <a href="#" class="btn btn-sm btn-block btn-primary">
                                <i class="icon-envelope-alt bigger-110"></i>
                                <span class="bigger-110">Send a message</span>
                            </a>

                            <a href="#" class="btn btn-sm btn-block btn-danger">
                                <i class="icon-warning-sign bigger-110"></i>
                                <span class="bigger-110">Report user</span>
                            </a>
                        </div>

                        <div class="col-xs-12 col-sm-9">

                            <div class="space-12"></div>
                            <!--AQUI PORRA -->
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Username</div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="id_username">{{ viewing_user.username }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Location</div>

                                    <div class="profile-info-value">
                                        <i class="icon-map-marker light-orange bigger-110"></i>
                                        <span class="editable" id="id_country">{{ viewing_user_profile.country }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row birthday">
                                    <div class="profile-info-name"> Birthday</div>

                                    <div class="profile-info-value">
                                        <span class="editable"
                                              id="id_birth_date">{{ viewing_user_profile.birth_date|date:"d/m/Y" }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Gender</div>

                                    <div class="profile-info-value">
                                        <span class="editable"
                                              id="id_gender">{{ viewing_user_profile.get_gender_display }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="id_email">{{ viewing_user.email }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="space-20"></div>

                            <!-- TABS -->
                            <div class="tabbable">
                                <ul class="nav nav-tabs padding-18">
                                    <li class="active">
                                        <a data-toggle="tab" href="#feed">
                                            <i class="orange icon-rss bigger-120"></i>
                                            Activity Feed
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#friends">
                                            <i class="blue icon-star bigger-120"></i>
                                            Friends
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#library">
                                            <i class="green icon-picture bigger-120"></i>
                                            Library
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content no-border padding-24">
                                    {% include "profile_fragments/_activity.html" %}

                                    {% include "profile_fragments/_friends.html" %}

                                    {% include "profile_fragments/_library.html" %}
                                </div>
                            </div>


                            <div class="hr hr2 hr-double"></div>

                            <div class="space-6"></div>

                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->

{% endblock %}

{% block page_specific_javascript %}
    {% if editable %}
        {% compress js %}
            <script src="{% static "js/uncompressed/select2.js" %}"></script>
            <script src="{% static "js/uncompressed/date-time/bootstrap-datepicker.js" %}"></script>
            <script src="{% static "js/uncompressed/jquery.maskedinput.js" %}"></script>
            <script src="{% static "js/uncompressed/x-editable/bootstrap-editable.js" %}"></script>
            <script src="{% static "js/uncompressed/x-editable/ace-editable.js" %}"></script>
            {% dajaxice_js_import 'nocsrf' %}
            <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block bottom_page %}
    <!-- inline scripts related to this page -->
    {% if  editable %}
        <script type="text/javascript">
        jQuery(function ($) {
            //editables on first profile page
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button>' +
                    '<button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';

            //editables
            var $username = $('#id_username');
            var current_username = $username.text();
            $username.editable({
                type: 'text',
                name: 'id_username',
                success: function (response, newValue) {
                    if (current_username != newValue) {
                        current_username = newValue;
                        Dajaxice.accounts.edit_profile(Dajax.process, {
                            'model': 'BarddoUser',
                            '_id':{{ viewing_user.id }},
                            'field': 'username',
                            'value': newValue});
                    }
                }
            });


            var countries = [];
            $.each({ "Canada": "Canada", "India": "India", "Netherlands": "Netherlands", "Turkey": "Turkey",
                "United States": "United States", "Brazil": "Brazil"}, function (k, v) {
                countries.push({id: k, text: v});
            });

            var $country = $('#id_country');
            var current_country = $country.text();
            $country.editable({
                type: 'select2',
                value: current_country,
                source: countries,
                success: function (response, newValue) {
                    if (current_country != newValue) {
                        current_country = newValue;
                        Dajaxice.accounts.edit_profile(Dajax.process, {
                            'model': 'BarddoUserProfile',
                            '_id':{{ viewing_user_profile.id }},
                            'field': 'country',
                            'value': newValue});
                    }
                }
            });

            var $birthdate = $('#id_birth_date');
            var current_birth_date = $birthdate.text();
            $birthdate.editable({
                type: 'date',
                format: 'mm-dd-yyyy',
                viewformat: 'dd/mm/yyyy',
                datepicker: {
                    weekStart: 1
                },
                success: function (response, newValue) {
                    if (current_birth_date != newValue) {
                        current_birth_date = newValue;
                        Dajaxice.accounts.edit_profile(Dajax.process, {
                            'model': 'BarddoUserProfile',
                            '_id':{{ viewing_user_profile.id }},
                            'field': 'birth_date',
                            'value': newValue});
                    }
                }
            });


            var $email = $('#id_email');
            var current_email = $email.text();
            $email.editable({
                type: 'text',
                value: current_email,
                success: function (response, newValue) {
                    if (current_email != newValue) {
                        current_email = newValue;
                        Dajaxice.accounts.edit_profile(Dajax.process, {
                            'model': 'BarddoUser',
                            '_id':{{ viewing_user.id }},
                            'field': 'email',
                            'value': newValue});
                    }
                }
            });

            var genders = [];
            $.each({"M": "Male", "F": "Female"}, function (k, v) {
                genders.push({id: k, text: v});
            });
            var gender = $('#id_gender');
            var current_gender = gender.text().substring(0, 1);
            gender.editable({
                type: 'select2',
                name: 'gender',
                source: genders,
                value: current_gender,
                success: function (response, newValue) {
                    if (current_gender != newValue) {
                        current_gender = newValue;
                        Dajaxice.accounts.edit_profile(Dajax.process, {
                            'model': 'BarddoUserProfile',
                            '_id':{{ viewing_user_profile.id }},
                            'field': 'gender',
                            'value': newValue});
                    }
                }
            });


            // *** editable avatar *** //
            try {//ie8 throws some harmless exception, so let's catch it

                //it seems that editable plugin calls appendChild, and as Image doesn't have it, it causes errors on IE at unpredicted points
                //so let's have a fake appendChild for it!
                if (/msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())) Image.prototype.appendChild = function (el) {
                };

                var last_gritter;
                $('#avatar').editable({
                    type: 'image',
                    name: 'avatar',
                    value: null,
                    image: {
                        //specify ace file input plugin's options here
                        btn_choose: 'Change Avatar',
                        droppable: true,
                        /**
                         //this will override the default before_change that only accepts image files
                         before_change: function(files, dropped) {
								return true;
							},
                         */

                        //and a few extra ones here
                        name: 'avatar',//put the field name here as well, will be used inside the custom plugin
                        max_size: 110000,//~100Kb
                        on_error: function (code) {//on_error function will be called when the selected file has a problem
                            if (last_gritter) $.gritter.remove(last_gritter);
                            if (code == 1) {//file format error
                                last_gritter = $.gritter.add({
                                    title: 'File is not an image!',
                                    text: 'Please choose a jpg|gif|png image!',
                                    class_name: 'gritter-error gritter-center'
                                });
                            } else if (code == 2) {//file size rror
                                last_gritter = $.gritter.add({
                                    title: 'File too big!',
                                    text: 'Image size should not exceed 100Kb!',
                                    class_name: 'gritter-error gritter-center'
                                });
                            }
                            else {//other error
                            }
                        },
                        on_success: function () {
                            $.gritter.removeAll();
                        }
                    },
                    url: function () {
                        // ***UPDATE AVATAR HERE*** //
                        //You can replace the contents of this function with examples/profile-avatar-update.js for actual upload


                        var deferred = new $.Deferred;

                        //if value is empty, means no valid files were selected
                        //but it may still be submitted by the plugin, because "" (empty string) is different from previous non-empty value whatever it was
                        //so we return just here to prevent problems
                        var $avatar = $('#avatar');
                        var value = $avatar.next().find('input[type=hidden]:eq(0)').val();
                        if (!value || value.length == 0) {
                            deferred.resolve();
                            return deferred.promise();
                        }


                        //dummy upload
                        setTimeout(function () {
                            if ("FileReader" in window) {
                                //for browsers that have a thumbnail of selected image
                                var thumb = $avatar.next().find('img').data('thumb');
                                if (thumb) $avatar.get(0).src = thumb;
                            }

                            deferred.resolve({'status': 'OK'});

                            if (last_gritter) $.gritter.remove(last_gritter);
                            last_gritter = $.gritter.add({
                                title: 'Avatar Updated!',
                                text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                                class_name: 'gritter-info gritter-center'
                            });

                        }, parseInt(Math.random() * 800 + 800));

                        return deferred.promise();
                    },

                    success: function (response, newValue) {
                    }
                })
            } catch (e) {
            }
        })
        ;
        </script>
    {% endif %}
{% endblock %}