{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Barddo Comic Viewer - {{ work.title }}</title>
    <meta name="description" content="Barddo Comic Viewer"/>
    <meta name="author" content="Barddo Team"/>

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}"/>
    <!--[if lte IE 7]><link rel="stylesheet" href="{% static "font-awesome/css/font-awesome-ie7.css" %}" /><![endif]-->

    <link rel="stylesheet" href="{% static "wow_book/wow_book.css" %}"/>
    <link rel="stylesheet" href="{% static "css/embeddable-reader.css" %}"/>
    <link rel="stylesheet" href="{% static "css/core-reader.css" %}"/>


    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.imgpreload.js' %}"></script>
    <script src="{% static 'wow_book/wow_book.min.js' %}"></script>
    <script src="{% static 'js/jquery.waitforimages.js' %}"></script>

    <script src="{% static "js/core-reader.js" %}"></script>
    <script src="{% static "js/reader-overlay.js" %}"></script>
</head>
<body>
{% include "core_reader.html" %}
</body>
</html>