{% load thumbnail %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row result_card result_item result_person">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
            {% if person.profile.avatar %}
                <img class="img-responsive" src="{{ person.profile.avatar.url }}"
                     alt="{{ person.username }}">
            {% endif %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 result_info">
            <div class="title">
                <h2><a href="{{ person.user_url }}">{{ person.username }}</a></h2>
            </div>
            <div class="summary">
                <p></p>
            </div>
        </div>
    </div>
</div>


