{% extends 'main_template.html' %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Payment" %}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="center">
            <img src="{% static "images/art/sad-face.png" %}" style="padding-top: 50px"/>

            <h1 class="red">{% trans "Sorry you don't have nothing to pay!" %}</h1>

            <h4>{% trans "If you think that this is an error please" %} <a id="contact-us" href="#">{% trans "contact us" %}!</a></h4>
        </div>
    </div>
{% endblock %}

{% block page_specific_javascript %}

    <script type="text/javascript">
        $('#contact-us').on("click", function () {
            Shards.feedback(function (shard_id, shard_data, parent) {
                $(shard_id).remove();
                $(parent).append(shard_data);
                $(shard_id).modal('show');
            });
        });

    </script>
{% endblock %}
