.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

#content {
    max-width: 1000px;
    z-index: 0;
    margin-left: -20px;
    overflow: hidden;
}

#options ul {
    margin-left: 0px;
    font-size: 104%;
}

#options {
    margin-top: 5px;
}

#options ul li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding: 3px 5px;

    background: transparent;
    display: initial;
    line-height: 1.5;
    margin-top: 2px;
}

#options ul li a {
    color: #333;
    margin-bottom: 20px;
}

#options ul li .selected {
    color: #e7402f !Important;
}

/* MASONRY */
.boxportfolio4 {
    float: left;
    width: 22.90%;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    margin-left: 20px;
}

.boxportfolio3 {
    float: left;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    width: 31.23%;
    margin-left: 20px;
}

.boxportfolio2 {
    float: left;
    margin-left: 20px;
    width: 47.90%;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

.roll {
    position: absolute;
    font-size: 30px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    top: 0.0px;
    display: table-cell;
    vertical-align: middle;
    background: #000;
    z-index: 10;
    -webkit-box-shadow: 0 0 4px #000;
    -moz-box-shadow: 0 0 4px #000;
    box-shadow: 0 0 4px #000;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    zoom: 1;
}

.roll {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.boxcontainer {
    border: 1px solid rgba(30, 102, 136, 0.52);
    background: #fff;
    font-size: 13px;
    text-align: center;
    transition: border 500ms ease-out;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    position: relative;

    transition: background-color 500ms ease-out;
    -webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
}

.boxcontainer:hover {
    background-color: rgb(230, 238, 236);
}

.boxcontainer p {
    margin-bottom: 10px;
    color: #666;
}

.boxcontainer h1 {
    font-size: 13px;
    line-height: 1;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Century Gothic", "Avenir Next", Futura, "URW Gothic L", sans-serif, "Malgun Gothic";
}

.boxcontainer h1 a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    color: #666;
    line-height: 20px;
}

.boxcontainer img {
    position: relative;
}

.wrapcaption {
    position: absolute;
    font-size: 30px;
    background: transparent;
    width: 100%;
    margin: 0px auto;
    display: table-cell;
    vertical-align: middle;
    top: 45%;
}

.wrapcaption a {
    color: #98c7dd;
    text-decoration: none;
}

.wrapcaption a:hover {
    color: #e8effc;
    text-decoration: none;
}

.boxportfolio2 .captionicons {
    top: 57%;
}

.collection {
    max-width: 250px;
}

.collection-great {
}

.collection-good {
}

.collection-common {
}

.collections {
    overflow: hidden;
}

.cover-wrap {
    overflow: hidden;
}

.portfolio > div {
    margin-bottom: 30px;
}

.work-list-wrapper {
    overflow-y: scroll;
    max-height: 400px
}

.work-action-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    opacity: 0.8;
    margin: -23px 0 0 -23px;
    padding-top: 48%;
    color: white;
    display: none;
}

.work-action-overlay .subtitle {
    display: block;
    font-size: 14px;
    color: rgb(197, 197, 10);
}

.work-action-overlay span {
    font-size: 24px;
    padding-left: 10px;
}

.dropzone a.dz-remove {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    background-color: #d15b47 !important;
    border-color: #d15b47;
    color: #FFF !important;
    background-image: none !important;
}

.dropzone a.dz-remove:hover {
    color: #000 !important;
}

.select2-container .select2-choice {
    overflow: visible !important;
}

.scroll-up {
    position: absolute;
    z-index: 9999;
    width: 300px;
    display: none;
}

.scroll-down {
    position: absolute;
    z-index: 9999;
    width: 300px;
    bottom: 3px;
    display: none;
}

.scroll-indicator {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    opacity: 0.8;
    border-radius: 5px;
    height: 30px;
}

.work-list-wrapper {
    border-radius: 5px;
    border: #9abc32 3px solid;
}

@-webkit-keyframes arrows {
    0% {
        top: 0;
    }
    10% {
        top: -5px;
    }
    20% {
        top: 10px;
    }
    30% {
        top: -5px;
    }
    40% {
        top: 10px;
    }
    50% {
        top: -5px;
    }
    60% {
        top: 10px;
    }
    70% {
        top: -5px;
    }
    80% {
        top: 10px;
    }
    90% {
        top: -5px;
    }
    100% {
        top: 0;
    }
}

.scroll-up i {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
    position: absolute;
    top: 5px;
    left: 47%;
}

.scroll-down i {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
    position: absolute;
    top: 5px;
    left: 47%;
}

.cover-subtitle {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.work-detail-load:hover {
    text-decoration: none;
    background-color: #b8d2ff;
}

.work-detail-load .lbl {
    padding-left: 15px;
}

.collection-modal {
}

.collection-modal .modal-dialog {
    width: 90%;
}

.collection-modal .modal-content {
    height: 80%;
    margin: 0 auto 0 auto;
    width: 90%;
}

.social-share {
    margin-top: 20px;
    float: none;
}

.social-share > div, .social-share > div > span, .social-share > iframe {
    vertical-align: top !important;
}

.share-caption {
    color: white;
    font-size: 14px;
    padding: 10px;
}

.features {
    background-color: #4d8bae;
}

.page-title {
    margin-top: 50px;
}

.page-title h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    font-weight: 400 !important;
    color: #fff;
    margin-top: 0 !important;
    margin-bottom: 30px !important;
}

.page-title p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 26px;
    font-weight: normal;
    color: #fff;
    max-width: 700px;
    font-size: 18px;
}

.btn-orange {
    background-color: #e7402f !important;
    border-color: #e7402f;
}

.block {
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-caption {
    top: 12% !important;
}

.work-information {
    white-space: nowrap;
}

.work-information h1 {
    overflow: hidden;
}

.create-work {
    min-height: 316px;
}

.create-work {
    font-size: 80px;
    padding-top: 60px;
    color: white;
    background-color: #03354c;
}

.create-work span {
    display: block;
    font-size: 30px;
}

/**
 * Ribons
 */
.note {
    margin: 30px 0;
    margin-left: -30px;
    padding: 5px 5px 5px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: absolute;
    z-index: 111;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .3);
    background-color: #7e6d42;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5c4e35));
    background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: -moz-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: -o-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e6d42', endColorstr='#5c4e35', GradientType=0);

    color: white;
    font-weight: bold;

    margin-left: -10px;
    margin-top: 15px;
}

.note:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #222 #222 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
}

.warning:before {
    border-color: transparent #6f0d0d #6f0d0d transparent;
}

.warning {
    background-color: #9e2812;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
    background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2812', endColorstr='#6f0d0d', GradientType=0);
}

.info {
    background-color: #0389aa;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f));
    background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0389aa', endColorstr='#00617f', GradientType=0);
}

.info:before {
    border-color: transparent #00617f #00617f transparent;
}

.success {
    background: #8ac189;
    background: -moz-linear-gradient(top, #8ac189 0%, #87b87f 40%, #678960 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ac189), color-stop(40%, #87b87f), color-stop(100%, #678960));
    background: -webkit-linear-gradient(top, #8ac189 0%, #87b87f 40%, #678960 100%);
    background: -o-linear-gradient(top, #8ac189 0%, #87b87f 40%, #678960 100%);
    background: -ms-linear-gradient(top, #8ac189 0%, #87b87f 40%, #678960 100%);
    background: linear-gradient(to bottom, #8ac189 0%, #87b87f 40%, #678960 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ac189', endColorstr='#678960', GradientType=0);
}

.success:before {
    border-color: transparent #4f694a #678960 transparent;
}

.add-work a:hover {
    text-decoration: none;
}

.sketch {
    margin-top: 65px;
}

.account-btn {
    float: right;
    margin-right: 15px;
    width: 148px;
}

.bank-account-messages {
    margin-top: 27px;
}

.background-green {
    background-color: #45803a;
}