.margin-bottom-10 {
    margin-bottom: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
    border-radius: 0 !important;
}

.about_publisher {
    width: 100%;
    margin-left: 10px;
}

textarea.about_publisher {
    display: inline-block;
}

.publishing-avatar-preview {
    min-width: 215px;
    min-height: 145px;
}

/**
 * Fix for publishing avatar preview resize
 * TODO: should we use image crop here?
 */
.file-label {
    min-height: 126px;
    min-width: 205px;
}

.selected .file-name.large {
    min-height: 125px;
}

.features {
    background: #4d8bae;
}

.sketch {
    margin-top: 65px;
}

.page-title {
    margin-top: 0;
}

.page-title p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 26px;
}

.page-title h3 {
    margin-bottom: 20px !important;
}

.btn-orange {
    background-color: #e7402f !important;
    border-color: #e7402f;
}

.btn-orange:hover {
    background-color: #e75030 !important;
    border-color: #e7402f;
}