
.btn-signin,
.btn-signin:focus {
    background-color: #2e8965 !important;
    border: 1px solid #2e8965;
}

.btn-signin:hover,
.open .btn-signin.dropdown-toggle {
    background-color: #2c7659 !important;
    border-color: #2e8965;
}

.facebook-color,
.facebook-color:hover {
    background-color: #3B5998 !important;
    border-color: #3B5998;
}

.twitter-color,
.twitter-color:hover {
    background-color: #00aced !important;
    border-color: #00aced;
}

.google-color,
.google-color:hover {
    background-color: #dd4b39 !important;
    border-color: #dd4b39;
}

.ace-nav .nav-user-photo {
    border-radius: 0;
    border: 1px solid #FFF;
}

.datepicker, .datepicker-dropdown {
    z-index: 9999 !important;
}

img {
    max-width: 100%;
}

.birthday form.editableform {
    width: 130px;
}

.field-error {
    color: red;
}

.field-success {
    color: green;
}

.feedback-button {
    float: left;
    position: fixed;
    top: 55%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.modal textarea {
    resize: vertical;
    height: 100px;
}

.work-information {
    padding: 5px;
}

.work-information h1, .work-information h2 {
    text-align: left;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Century Gothic", "Avenir Next", Futura, "URW Gothic L", sans-serif, "Malgun Gothic";
}

.work-information h2 {
    font-size: 12px;
    color: #696969;
}

.center-chevron {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.pull-down50 {
    margin-top: 50px;
}

.modal-sm {
    width: 400px;
}

.modal-lg {
    width: 800px;
}

/**
 ** Index Theme
 **/
.dashboard-link {
    background-color: #04425f
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (min-width: 1600px) {
    /*.container {
        max-width: 1664px;
    }*/
}

.work-information h1 {
    font-size: 14px !important;
}

.work-information h1, .work-information h2 {
    padding-left: 0 !important;
}

.work-number {
    margin-right: 5px;
    margin-top: 5px;
}

#loginModal .modal-dialog {
    max-width: 400px;
}

.profile-user-col {
    padding-top: 23px;
}

.side-bar {
    padding-top: 41px;
}

.dashboard-caption {
    padding: 10px;
    top: 20% !important;
}

/** Fix for bootstrap modal displacement **/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body {
        overflow-y: scroll;
    }

    body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
        overflow-y: scroll;
        margin: 0;
    }

    .modal {
        overflow: auto;
    }
}

.highlight {
    color: rgb(75, 146, 223);
    font-weight: bold;
}

.fullscreen-modal {

}

.fullscreen-modal .modal-header {
    border: 0;
}

.fullscreen-modal .modal-dialog {
    width: auto;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.popover-detail-width {
    width: 360px;
}

.break-all {
    word-break: break-all
}

.profile-users .user img {
    max-width: 64px;
    width: 64px;
    max-height: 64px;
    height: 64px;
    border-radius: 0;
}

.g-signin {
    margin-top: 10px;
}

.cover-edit {
    width: 500px;
}

#change-cover {
    cursor: pointer;
    cursor: hand;
}