<div id="new-work-wizard" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header" data-target="#work-step-contents">
                <ul class="wizard-steps">
                    <li data-target="#work-details" class="active">
                        <span class="step">1</span>
                        <span class="title">Details</span>
                    </li>

                    <li data-target="#work-cover">
                        <span class="step">2</span>
                        <span class="title">Cover</span>
                    </li>

                    <li data-target="#work-confirmation">
                        <span class="step">3</span>
                        <span class="title">Confirmation</span>
                    </li>
                </ul>
            </div>

            <!-- CONTENT -->
            <div class="modal-body step-content" id="work-step-contents">
                <form class="form-horizontal" id="work-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="step-pane active" id="work-details">
                        {% include "work_form/_general.html" %}
                    </div>

                    <div class="step-pane" id="work-cover">
                        {% include "work_form/_cover.html" %}
                    </div>

                    <div class="step-pane" id="work-confirmation">
                        {% include "work_form/_confirmation.html" %}
                    </div>
                </form>
            </div>

            <!-- NAVIGATION -->
            <div class="modal-footer wizard-actions">
                <button id="form-work-prev" class="btn btn-sm btn-prev">
                    <i class="icon-arrow-left"></i>
                    Prev
                </button>

                <button id="form-work-next" class="btn btn-success btn-sm btn-next">
                    Next
                    <i class="icon-arrow-right icon-on-right"></i>
                </button>

                <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


{% block bottom_page %}

{% endblock %}