<div id="new-collection-wizard" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header" data-target="#modal-step-contents">
                <ul class="wizard-steps">
                    <li data-target="#modal-start" class="active">
                        <span class="step">1</span>
                        <span class="title">Name Verification</span>
                    </li>

                    <li data-target="#modal-details">
                        <span class="step">2</span>
                        <span class="title">Details</span>
                    </li>

                    <li data-target="#modal-confirmation">
                        <span class="step">3</span>
                        <span class="title">Confirmation</span>
                    </li>
                </ul>
            </div>

            <!-- CONTENT -->
            <div class="modal-body step-content" id="modal-step-contents">
                <div class="step-pane active" id="modal-start">
                    {% include "collection_form/_name_validation.html" %}
                </div>

                <div class="step-pane" id="modal-details">
                    {% include "collection_form/_general_information.html" %}
                </div>

                <div class="step-pane" id="modal-confirmation">
                    {% include "collection_form/_confirmation.html" %}
                </div>
            </div>

            <!-- NAVIGATION -->
            <div class="modal-footer wizard-actions">
                <button id="collection-prev" class="btn btn-sm btn-prev">
                    <i class="icon-arrow-left"></i>
                    Prev
                </button>

                <button id="collection-next" class="btn btn-success btn-sm btn-next">
                    Next
                    <i class="icon-arrow-right icon-on-right"></i>
                </button>

                <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>