{% extends 'main_template.html' %}
{% load dajaxice_templatetags %}
{% load static %}
{% load compress %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" />
    <link rel="stylesheet" href="{% static "css/uncompressed/barddo.dashboard.css" %}" />
{% endblock %}

{% block breadcrumbs %}
    <!-- TODO: extract this logic to a template tag, so the breadcrumbs are calculated by the system -->
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">Home</a>
        </li>
        <li class="active">Artist Dashboard</li>
    </ul><!-- .breadcrumb -->
{% endblock %}

{% block content %}
    <div class="page-content">
    {% if not collections %}
        <div class="row" style="padding-top: 125px;">
            <div class="col-sm-12">
                <div class="center">
                    <h3 class="red"><i class="icon-frown icon-5x"></i></h3>
                    <h3 class="red">Oh noes!</h3>
                    Looks like you have not created any collections yet! But do not fear, this is something easy to fix!
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-sm-6 col-sm-offset-3">
                <a id="collection-wizard-link" href="#new-collection-wizard" data-toggle="modal" class="btn btn-success btn-block"><i class="icon-plus-sign-alt"></i> Create a new collection (and awesome), now! </a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-5">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-star orange"></i>
                            Popular Collections
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered table-striped">
                                <thead class="thin-border-bottom">
                                <tr>
                                    <th>
                                        <i class="icon-caret-right blue"></i>
                                        name
                                    </th>

                                    <th>
                                        <i class="icon-caret-right blue"></i>
                                        price
                                    </th>

                                    <th class="hidden-480">
                                        <i class="icon-caret-right blue"></i>
                                        status
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>internet.com</td>

                                    <td>
                                        <small>
                                            <s class="red">$29.99</s>
                                        </small>
                                        <b class="green">$19.99</b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-info arrowed-right arrowed-in">on sale</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>online.com</td>

                                    <td>
                                        <small>
                                            <s class="red"></s>
                                        </small>
                                        <b class="green">$16.45</b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-success arrowed-in arrowed-in-right">approved</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>newnet.com</td>

                                    <td>
                                        <small>
                                            <s class="red"></s>
                                        </small>
                                        <b class="green">$15.00</b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-danger arrowed">pending</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>web.com</td>

                                    <td>
                                        <small>
                                            <s class="red">$24.99</s>
                                        </small>
                                        <b class="green">$19.95</b>
                                    </td>

                                    <td class="hidden-480">
																	<span class="label arrowed">
																		<s>out of stock</s>
																	</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>domain.com</td>

                                    <td>
                                        <small>
                                            <s class="red"></s>
                                        </small>
                                        <b class="green">$12.00</b>
                                    </td>

                                    <td class="hidden-480">
                                        <span class="label label-warning arrowed arrowed-right">SOLD</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>

            <div class="col-sm-7">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-signal"></i>
                            Overall Stats
                        </h4>

                        <div class="widget-toolbar">

                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>

                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div id="sales-charts"></div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-12">
                <div class="widget-box light-border">
                    <div class="widget-header header-color-dark">
                        <h5 class="smaller">
                            <i class="icon-inbox"></i>
                            My Collections (12)
                        </h5>

                        <div class="widget-toolbar">
                            <a href="#" class="blue">
                                <i class="icon-search"></i>
                            </a>
                            <a href="#" data-action="reload">
                                <i class="icon-refresh"></i>
                            </a>
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-down"></i>
                            </a>
                        </div>

                        <div class="widget-toolbar no-border">
                            <a href="#new-collection-wizard" data-toggle="modal" class="btn btn-xs btn-danger bigger">
                                <i class="icon-plus"></i>
                                New Collection
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-6">
                            <div class="row">
                                <div class="portfolio">
                                    <!-- box 1 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item collection-great">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/103058-v1-front-normal.jpg" alt="">
                                            </div>

                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="#collection-detail-modal" data-rel="tooltip" data-placement="top" title="Tooltip on top"><i class="icon-plus-sign green" ></i></a>
                                                    <a href="#collection-detail-modal" data-rel="tooltip" data-placement="top" title="Tooltip on top"><i class="icon-cog red"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">La Chaux De Fonds</a></h1>
                                        </div>
                                    </div>

                                    <!-- box 2 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item collection-great">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/108068-v1-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Taj Mahal</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 3 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/62667-v1-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Versailles, France</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 4 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/19604-v1-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">St Petersburg, Russia</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 5 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/48477-v4-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Grunge Architecture</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 5 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/48477-v4-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Grunge Architecture</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 5 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/48477-v4-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Grunge Architecture</a></h1>
                                        </div>
                                    </div>
                                    <!-- box 5 -->
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item">
                                        <div class="boxcontainer">
                                            <div class="cover-wrap">
                                                <img src="http://cdn.joentjuh.nl/manga/48477-v4-front-normal.jpg" alt="">
                                            </div>
                                            <div class="roll">
                                                <div class="wrapcaption">
                                                    <a href="projectdetail.html"><i class="icon-cog"></i></a>
                                                </div>
                                            </div>
                                            <h1><a href="projectdetail.html">Grunge Architecture</a></h1>
                                        </div>
                                    </div>
                                    <!-- next box etc -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endif %}
    </div>


    <div id="collection-detail-modal" class="modal full-screen-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="loginModalLabel"><i class="icon-th-large"></i> Collection Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="task-tab" class="tab-pane active">
                                <h4 class="smaller lighter green">
                                    <i class="icon-list"></i>
                                    Select a work bellow
                                </h4>

                                <ul id="tasks" class="item-list ui-sortable">

                                    <li class="item-orange clearfix" style="position: relative; opacity: 1; z-index: auto;">
                                        <label class="inline">
                                            <span class="badge badge-purple">7</span>
                                            <span class="lbl"> Answering customer questions</span>
                                        </label>

                                    </li>
                                    <li class="item-red clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">6</span>
                                            <span class="lbl"> Fixing bugs</span>
                                        </label>
                                    </li>

                                    <li class="item-default clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">5</span>
                                            <span class="lbl"> Adding new features</span>
                                        </label>
                                    </li>

                                    <li class="item-blue clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">4</span>
                                            <span class="lbl"> Upgrading scripts used in template</span>
                                        </label>
                                    </li>

                                    <li class="item-grey clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">3</span>
                                            <span class="lbl"> Adding new skins</span>
                                        </label>
                                    </li>

                                    <li class="item-green clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">2</span>
                                            <span class="lbl"> Updating server software up</span>
                                        </label>
                                    </li>

                                    <li class="item-pink clearfix">
                                        <label class="inline">
                                            <span class="badge badge-purple">1</span>
                                            <span class="lbl"> Cleaning up</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="widget-box transparent">
                                <div class="widget-header">
                                    <h4 class="lighter">Transparent Box</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-6 no-padding-left no-padding-right">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis. Nullam interdum massa vel nisl fringilla sed viverra erat tincidunt. Phasellus in ipsum velit. Maecenas id erat vel sem convallis blandit. Nunc aliquam enim ut arcu aliquet adipiscing. Fusce dignissim volutpat justo non consectetur.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="new-collection-wizard" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- HEADER -->
                <div class="modal-header" data-target="#modal-step-contents">
                    <ul class="wizard-steps">
                        <li data-target="#modal-start" class="active">
                            <span class="step">1</span>
                            <span class="title">Name Verification</span>
                        </li>

                        <li data-target="#modal-details">
                            <span class="step">2</span>
                            <span class="title">Details</span>
                        </li>

                        <li data-target="#modal-confirmation">
                            <span class="step">3</span>
                            <span class="title">Confirmation</span>
                        </li>
                    </ul>
                </div>

                <!-- CONTENT -->
                <div class="modal-body step-content" id="modal-step-contents">
                    <div class="step-pane active" id="modal-start">
                        {% include "collection_form/_name_validation.html" %}
                    </div>

                    <div class="step-pane" id="modal-details">
                        {% include "collection_form/_general_information.html" %}
                    </div>

                    <div class="step-pane" id="modal-confirmation">
                        {% include "collection_form/_confirmation.html" %}
                    </div>
                </div>

                <!-- NAVIGATION -->
                <div class="modal-footer wizard-actions">
                    <button id="collection-prev" class="btn btn-sm btn-prev">
                        <i class="icon-arrow-left"></i>
                        Prev
                    </button>

                    <button id="collection-next" class="btn btn-success btn-sm btn-next">
                        Next
                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>

                    <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/fuelux/fuelux.wizard.min.js" %}"></script>
        <script src="{% static "js/jquery.validate.min.js" %}"></script>
        <script src="{% static "js/date-time/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/bootstrap-tag.min.js" %}"></script>
        {% dajaxice_js_import 'nocsrf' %}

        <script type="text/javascript" src="{% static "js/barddo/pages/collection.create.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
    <script src="{% static "js/jquery.sparkline.min.js"%}"></script>
    <script src="{% static "js/flot/jquery.flot.min.js"%}"></script>
    <script src="{% static "js/flot/jquery.flot.pie.min.js"%}"></script>
    <script src="{% static "js/flot/jquery.flot.resize.min.js"%}"></script>

    <script src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "js/portfolio.js" %}"></script>
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">

        // Workaround to handle form validation in an asynchronous way
        var formValid = false;

        function callback_validate_collection_error() {
            formValid = false;
        }

        function callback_validate_collection_ok() {
            if(!formValid) {
                formValid = true;
                $("#collection-next").trigger("click");
            }
        }

        function init_wizard() {
            $("#collection-name-group").removeClass("has-error has-success").addClass("has-info");
            $("#collection-next").html('Next <i class="icon-arrow-right icon-on-right"></i>');
            $("#collection-next").prop("disabled", true);
            $("#collection-name-validation").val('');
            $("#collection-name-group i").removeClass().addClass('icon-info-sign');
            setTimeout(function() {$("#collection-name-validation").focus(); }, 500);
            formValid = false;
        }

        jQuery(function($) {
            // TODO: change text to internationalized
            $('#new-collection-wizard .modal-header').ace_wizard()
                    .on('finished', function(e) {
                        $('#new-collection-wizard').modal('hide');
                    })

                    .on('stepclick', function(e){
                        return false; //prevent clicking on steps
                    })

                    .on('change' , function(e, info){
                        if(info.step == 1) {
                            $("#collection-next").html("<i class='icon-star'></i> Create Now!");
                        }

                        if(info.step == 2) {
                            if(info.direction == "next") {
                                if(formValid) {
                                    $("#collection-next").html("<i class='icon-heart'></i> Thank you!");
                                    $("#collection-prev").hide();
                                } else {
                                    Dajaxice.core.register_a_collection(Dajax.process, {
                                        'form': $('#collection-form').serialize(true)
                                    });
                                }

                                return formValid;
                            } else {
                                init_wizard();
                            }
                        }
                    });


            $('#collection-wizard-link').on('click', function() {
                wizardMoveFirst($('#new-collection-wizard .modal-header'));
            });

            $('#new-collection-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');

            init_wizard();

            // SALES
            var d1 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d1.push([i, Math.sin(i)]);
            }

            var d2 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d2.push([i, Math.cos(i)]);
            }

            var d3 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.2) {
                d3.push([i, Math.tan(i)]);
            }

            var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'220px'});
            $.plot("#sales-charts", [
                { label: "Domains", data: d1 },
                { label: "Hosting", data: d2 },
                { label: "Services", data: d3 }
            ], {
                hoverable: true,
                shadowSize: 0,
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                xaxis: {
                    tickLength: 0
                },
                yaxis: {
                    ticks: 10,
                    min: -2,
                    max: 2,
                    tickDecimals: 3
                },
                grid: {
                    backgroundColor: { colors: [ "#fff", "#fff" ] },
                    borderWidth: 1,
                    borderColor:'#555'
                }
            });

            //ROLL ON HOVER
            $(function() {
                $(".roll").css("opacity","0");
                $(".roll").hover(function () {
                            $(this).stop().animate({
                                opacity: 1
                            }, "slow");
                        },
                        function () {
                            $(this).stop().animate({
                                opacity: 0
                            }, "slow");
                        });
            });

            $('.sparkline').each(function(){
                var $box = $(this).closest('.infobox');
                var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                $(this).sparkline('html', {tagValuesAttribute:'data-values', type: 'bar', barColor: barColor , chartRangeMin:$(this).data('min') || 0} );
            });
        });
    </script>
{% endblock %}