{% extends 'main_template.html' %}
{% load dajaxice_templatetags %}
{% load static %}
{% load compress %}
{% load thumbnail %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "css/uncompressed/barddo.dashboard.css" %}"/>
    <link rel="stylesheet" href="{% static "css/crop/imgareaselect-animated.css" %}"/>
    <link rel="stylesheet" href="{% static "css/dropzone.css" %}"/>
    <link rel="stylesheet" href="{% static "css/select2.css" %}"/>

{% endblock %}

{% block breadcrumbs %}
    <!-- TODO: extract this logic to a template tag, so the breadcrumbs are calculated by the system -->
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ul><!-- .breadcrumb -->
{% endblock %}

{% block sidebar %}
    <div class="sidebar menu-min" id="sidebar">

        <ul class="side-bar nav nav-list">
            <li class="active">
                <a href="#">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>
            </li>

            <li>
                <a href="#new-collection-wizard" data-toggle="modal">
                    <i class="icon-book"></i>
                    <span class="menu-text"> Create a Collection</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-bar-chart"></i>
                    <span class="menu-text"> Statistics</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-bookmark"></i>
                    <span class="menu-text"> Bookmarks</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-archive"></i>
                    <span class="menu-text"> Archived Items</span>
                </a>
            </li>
        </ul>
        <!-- /.nav-list -->
    </div>
{% endblock %}

{% block content %}
    <div class="page-content">
        {% if not collections %}
            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12">
                    <div class="center">
                        <h3 class="red">Uh Oh!</h3>
                        Looks like you don't have any <span class="red">collections</span> yet! But do not fear, this
                        is something easy to
                        fix!
                        <br/><br/>
                        <img src="{% static "images/art/empty-face.png" %}"/>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px;">
                <div class="col-sm-6 col-sm-offset-3">
                    <a id="collection-wizard-link" href="#new-collection-wizard" data-toggle="modal"
                       class="btn btn-danger btn-block btn-lg"><i class="icon-plus"></i> Create an awesome new
                        collection, now!
                    </a>
                </div>
            </div>
        {% else %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                            <h4 class="lighter">
                                <i class="icon-star orange"></i>
                                My Collections ({{ collections|length }})
                            </h4>

                        </div>

                        <div class="widget-body">
                            <div class="widget-main padding-6">
                                <div class="row">
                                    <div class="portfolio">
                                        {% for collection in collections %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 item collection-great">
                                                <div class="boxcontainer">
                                                    <div class="cover-wrap">
                                                        {% if collection.cover %}
                                                            <img src="{{ collection.cover|thumbnail_url:"small_cover" }}"
                                                                 alt="">
                                                        {% else %}
                                                            <img src="{% static "images/default-cover.jpg" %}"
                                                                 alt="Create a work for this collection!">
                                                        {% endif %}
                                                    </div>

                                                    <div class="roll">
                                                        <div class="wrapcaption dashboard-caption">
                                                            <a href="#new-work-wizard" data-toggle="modal"
                                                               data-id="{{ collection.id }}"
                                                               class="btn btn-block btn-info"
                                                               onclick="$('#{{ work_form.collection.auto_id }}').val($(this).attr('data-id'));"><i
                                                                    class="icon-plus-sign"></i> Add a Work</a>


                                                            {% if collection.get_total_works != 0 %}
                                                                <a href="#"
                                                                   class="collection-view btn btn-block btn-danger"
                                                                   data-id="{{ collection.id }}"><i
                                                                        class="icon-edit"></i> Edit Collection</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="work-information">
                                                        <span class="badge badge-danger pull-right work-number">{{ collection.get_total_works }}</span>

                                                        <h1>{{ collection.name }}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /widget-main -->
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% include "_new_work_modal.html" %}

    {% include "_new_collection_modal.html" %}

{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/fuelux/fuelux.wizard.min.js" %}"></script>
        <script src="{% static "js/jquery.validate.min.js" %}"></script>
        <script src="{% static "js/date-time/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/bootstrap-tag.min.js" %}"></script>
        {% dajaxice_js_import 'nocsrf' %}

        <script type="text/javascript" src="{% static "js/barddo/pages/collection.create.js" %}"></script>

        <script src="{% static "js/uncompressed/dropzone.js" %}"></script>
        <script src="{% static "js/uncompressed/select2.js" %}"></script>
    {% endcompress %}
    <script src="{% static "js/jquery.Jcrop.min.js" %}"></script>
    <script src="{% static "js/jquery.imgareaselect.min.js" %}"></script>


    <script src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "js/portfolio.js" %}"></script>
    <script src="{% static "js/jquery.nestable.min.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>

    <script src="{% static "js/barddo/pages/dashboard.js" %}"></script>
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">

        // Workaround to handle form validation in an asynchronous way
        var formValid = false;

        function callback_validate_collection_error() {
            formValid = false;
        }

        function callback_validate_collection_ok() {
            if (!formValid) {
                formValid = true;
                $("#collection-next").trigger("click");
            }
        }

        function init_wizard() {
            $("#collection-name-group").removeClass("has-error has-success").addClass("has-info");
            $("#collection-next").html('Next <i class="icon-arrow-right icon-on-right"></i>');
            $("#collection-next").prop("disabled", true);
            $("#collection-name-validation").val('');
            $("#collection-name-group i").removeClass().addClass('icon-info-sign');
            setTimeout(function () {
                $("#collection-name-validation").focus();
            }, 500);
            formValid = false;
        }

        jQuery(function ($) {
            // TODO: change text to internationalized
            $('#new-collection-wizard .modal-header').ace_wizard()
                    .on('finished', function (e) {
                        $('#new-collection-wizard').modal('hide');
                        location.reload();
                    })

                    .on('stepclick', function (e) {
                        return false; //prevent clicking on steps
                    })

                    .on('change', function (e, info) {
                        if (info.step == 1) {
                            $("#collection-next").html("<i class='icon-star'></i> Create Now!");
                        }

                        if (info.step == 2) {
                            if (info.direction == "next") {
                                if (formValid) {
                                    $("#collection-next").html("<i class='icon-heart'></i> Thank you!");
                                    $("#collection-prev").hide();
                                } else {
                                    Dajaxice.core.register_a_collection(Dajax.process, {
                                        'form': $('#collection-form').serialize(true)
                                    });
                                }

                                return formValid;
                            } else {
                                init_wizard();
                            }
                        }
                    });


            $('#new-work-button').on('click', function () {
                $('#new-collection-wizard').modal('hide');
            });

            $('#collection-wizard-link').on('click', function () {
                wizardMoveFirst($('#new-collection-wizard .modal-header'));
            });

            $('#new-collection-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');

            init_wizard();
            //ROLL ON HOVER
            $(function () {
                $(".roll").css("opacity", "0");
                $(".roll").hover(function () {
                            $(this).stop().animate({
                                opacity: 1
                            }, "slow");
                        },
                        function () {
                            $(this).stop().animate({
                                opacity: 0
                            }, "slow");
                        });
            });

            $('.sparkline').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                $(this).sparkline('html', {tagValuesAttribute: 'data-values', type: 'bar', barColor: barColor, chartRangeMin: $(this).data('min') || 0});
            });

            $('.dd').nestable();

            $('.dd-handle a').on('mousedown', function (e) {
                e.stopPropagation();
            });

            $('[data-rel="tooltip"]').tooltip();
        });
    </script>


    <script type="text/javascript">

        // TODO: merge this with the new collection validation
        var workFormValid = false;
        var workFormCreate = false;

        function callback_validate_work_error() {
            workFormValid = false;
        }

        function callback_validate_work_ok() {
            if (!workFormValid) {
                workFormValid = true;
                $("#form-work-next").trigger("click");
            }
        }

        function callback_create_work_error() {
            workFormCreate = false;
        }

        function callback_create_work_ok(id) {

            $('#new_work_upload').attr('data-id', id);

            if (!workFormCreate) {
                workFormCreate = true;
                $("#form-work-next").trigger("click");
            }
        }

        function init_work_wizard() {
            $("#form-work-next").html('Next <i class="icon-arrow-right icon-on-right"></i>');
            workFormValid = false;
        }

        jQuery(function ($) {

            $('#new-work-wizard .modal-header').ace_wizard()
                    .on('finished', function (e) {
                        $('#new-work-wizard').modal('hide');
                    })

                    .on('stepclick', function (e) {
                        return false; //prevent clicking on steps
                    })

                    .on('change', function (e, info) {

                        if (info.step == 3) {
                            if (info.direction == "next") {
                                $("#form-work-next").html("<i class='icon-heart'></i> I'm done!");
                            }
                        }

                        if (info.step == 2) {
                            if (info.direction == "next") {
                                if (workFormCreate) {
                                    window.selectedArea.cancelSelection();
                                    $("#form-work-next").html("<i class='icon-upload'></i> Upload My Files!");
                                    $("#form-work-prev").hide();
                                } else {
                                    var crop = window.selectedArea.getSelection();

                                    var options = {
                                        //target:        '#output2',   // target element(s) to be updated with server response
                                        //beforeSubmit:  showRequest,  // pre-submit callback
                                        success: Dajax.process,  // post-submit callback

                                        // other available options:
                                        url: "/dajaxice/core.register_a_work/",         // override for form's 'action' attribute
                                        type: "post",        // 'get' or 'post', override for form's 'method' attribute
                                        data: { 'crop_x': crop.x1,
                                            'crop_y': crop.y1,
                                            'crop_w': crop.x2,
                                            'crop_h': crop.y2
                                        }

                                        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                                        //clearForm: true        // clear all form fields after successful submit
                                        //resetForm: true        // reset the form after successful submit

                                        // $.ajax options can be used here too, for example:
                                        //timeout:   3000
                                    };


                                    $('#work-form').ajaxSubmit(options);
                                }
                                return workFormCreate;
                            } else {
                                $("#form-work-next").html('Next <i class="icon-arrow-right icon-on-right"></i>').prop("disabled", false);
                            }

                            if (window.selectedArea) {
                                window.selectedArea.cancelSelection();
                            }
                        }

                        if (info.step == 1) {
                            if (info.direction == "next") {
                                if (workFormValid) {
                                    $("#form-work-next").html("<i class='icon-star'></i> Select a Cover!").prop("disabled", true);
                                } else {
                                    Dajaxice.core.validate_work_information(Dajax.process, {
                                        'form': $('#work-form').serialize(true)
                                    });
                                }

                                return workFormValid;
                            } else {
                                init_work_wizard();
                            }
                        }
                    });

            init_work_wizard();
        });

        $('#new-work-wizard').on('hidden.bs.modal', function (e) {
            if (window.selectedArea) {
                window.selectedArea.cancelSelection();
            }
        });


    </script>
{% endblock %}