{% extends 'main_template.html' %}
{% load dajaxice_templatetags %}
{% load static %}
{% load compress %}
{% load thumbnail %}
{% load i18n %}
{% load social_share %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}"/>
    <link rel="stylesheet" href="{% static "barddo/css/barddo.dashboard.css" %}"/>
    <link rel="stylesheet" href="{% static "css/crop/imgareaselect-animated.css" %}"/>
    <link rel="stylesheet" href="{% static "css/dropzone.css" %}"/>
    <link rel="stylesheet" href="{% static "css/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-editable.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Dashboard" %}</li>
    </ul>
{% endblock %}

{% block sidebar %}
    <div class="sidebar menu-min" id="sidebar">
        <ul class="side-bar nav nav-list">
            <li class="active">
                <a href="#">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> {% trans "Dashboard" %}</span>
                </a>
            </li>

            {#            <li>#}
            {#                <a href="#new-collection-wizard">#}
            {#                    <i class="icon-book"></i>#}
            {#                    <span class="menu-text"> {% trans "Create a Collection" %}</span>#}
            {#                </a>#}
            {#            </li>#}

            {#            <li>#}
            {#                <a href="#">#}
            {#                    <i class="icon-bar-chart"></i>#}
            {#                    <span class="menu-text"> {% trans "Statistics" %}</span>#}
            {#                </a>#}
            {#            </li>#}
            {##}
            {#            <li>#}
            {#                <a href="#">#}
            {#                    <i class="icon-bookmark"></i>#}
            {#                    <span class="menu-text"> {% trans "Bookmarks" %}</span>#}
            {#                </a>#}
            {#            </li>#}
            {##}
            {#            <li>#}
            {#                <a href="#">#}
            {#                    <i class="icon-archive"></i>#}
            {#                    <span class="menu-text"> {% trans "Archived Items" %}</span>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="features block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12 sketch">
                    <img src="{% static "images/art/half-artist.png" %}">
                </div>
                <div class="col-md-7 col-xs-12">
                    <div class="page-title text-center">
                        <h3>{% trans "The Artist Dashboard" %}</h3>
                        <button id="joinBarddoButton"
                                class="btn btn-danger btn-orange btn-lg">
                            {% trans "Create a new Collection!" %}
                        </button>
                        <p class="text-left">
                            {% blocktrans %}
                                Welcome to your publishing panel!
                                Here you can control every aspect of your career on Barddo! Create new collections, upload amazing works, publish any time!
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        {% if not collections %}
            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12">
                    <div class="center">
                        <h3 class="red">{% trans "Uh Oh!" %}</h3>
                        {% blocktrans %}
                            Looks like you don't have any <span class="red">collections</span> yet! But do not fear, this
                            is something easy to fix!
                        {% endblocktrans %}
                        <br/><br/>
                        <img src="{% static "images/art/empty-face.png" %}"/>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 50px;">
                <div class="col-sm-6 col-sm-offset-3">
                    <a id="collection-wizard-link" href="#new-collection-wizard"
                       class="btn btn-danger btn-block btn-lg"><i class="icon-plus"></i> {% trans "Create an awesome new collection, now!" %}
                    </a>
                </div>
            </div>
        {% else %}

            {% for collection in collections %}
                {% with collection.works.all as collection_works %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-flat">
                                    <h4 class="lighter">
                                        <i class="icon-book orange"></i>
                                        {{ collection.name }} - ({{ collection_works|length }} {% trans "trabalhos" %})
                                    </h4>

                                    <div class="widget-toolbar no-border">

                                        <a href="#" data-action="collapse">
                                            <i class="icon-chevron-up"></i>
                                        </a>
                                    </div>

                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-6">
                                        <div class="row">
                                            <div class="portfolio">
                                                <div class="col-sm-3 col-xs-12 item collection-great">
                                                    <div class="boxcontainer create-work">
                                                        <i class="icon-plus-sign"></i>
                                                        <span>Add a Work</span>
                                                    </div>
                                                </div>

                                                {% for work in collection_works %}
                                                    <div class="col-sm-3 col-xs-12 item collection-great">
                                                        {% if forloop.counter|divisibleby:2 %}
                                                            <div class="note success"><i class="icon-ok-sign"></i> Publicado</div>
                                                        {% else %}
                                                            <div class="note warning"><i class="icon-exclamation-sign"></i> Pendente</div>
                                                        {% endif %}

                                                        <div class="boxcontainer">
                                                            <div class="cover-wrap">
                                                                {% if work.cover %}
                                                                    <img src="{{ work.cover|thumbnail_url:"big_cover" }}"
                                                                         alt="">
                                                                {% else %}
                                                                    <img src="{% static "images/default-cover.jpg" %}"
                                                                         alt="{% trans "Create a work for this collection!" %}">
                                                                {% endif %}
                                                            </div>

                                                            <div class="roll">
                                                                <div class="wrapcaption dashboard-caption">
                                                                    <a href="#"
                                                                       data-id="{{ work.id }}"
                                                                       class="btn btn-block btn-warning"><i
                                                                            class="icon-zoom-in"></i> {% trans "View Page" %}</a>

                                                                    <a href="#"
                                                                       data-id="{{ work.id }}"
                                                                       class="btn btn-block btn-success"><i
                                                                            class="icon-cloud-upload"></i> {% trans "Publish now!" %}</a>


                                                                    {% if collection_works|length != 0 %}
                                                                        <a href="#"
                                                                           class="collection-view btn btn-block btn-danger"
                                                                           data-id="{{ collection.id }}"><i
                                                                                class="icon-edit"></i> {% trans "Edit Work" %}</a>
                                                                    {% endif %}

                                                                    <div class="social-share">
                                                                        <div class="share-caption">Share now with your friends!</div>
                                                                        {% post_to_facebook work "Facebook" %}
                                                                        {% post_to_twitter work "Twitter" %}
                                                                        {% post_to_gplus work "Google+" %}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="work-information">
                                                                <span class="badge badge-danger pull-right work-number">#{{ work.unit_count }}</span>

                                                                <h1>{{ work.title }}</h1>
                                                            </div>
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/fuelux/fuelux.wizard.min.js" %}"></script>
        <script src="{% static "js/fuelux/fuelux.spinner.min.js" %}"></script>
        <script src="{% static "js/jquery.validate.min.js" %}"></script>
        <script src="{% static "js/date-time/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/bootstrap-tag.min.js" %}"></script>
        {% dajaxice_js_import 'nocsrf' %}
        <script type="text/javascript" src="{% static "barddo/js/pages/collection.create.js" %}"></script>
        <script src="{% static "js/uncompressed/dropzone.js" %}"></script>
        <script src="{% static "js/uncompressed/select2.js" %}"></script>
        <script src="{% static "js/uncompressed/x-editable/bootstrap-editable.js" %}"></script>
        <script src="{% static "js/uncompressed/x-editable/ace-editable.js" %}"></script>
        <script src="{% static "js/jquery.Jcrop.min.js" %}"></script>
        <script src="{% static "js/jquery.imgareaselect.min.js" %}"></script>
        <script src="{% static "js/jquery.nestable.min.js" %}"></script>
        <script src="{% static "js/jquery.form.min.js" %}"></script>
        <script src="{% static "barddo/js/pages/dashboard.js" %}"></script>
        <script src="{% static "js/jquery-ui-1.10.4.modal.js" %}"></script>
        {#        <script src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>#}
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">
        // Workaround to handle form validation in an asynchronous way
        var formValid = false;

        function callback_validate_collection_error() {
            formValid = false;
        }

        function callback_validate_collection_ok() {
            if (!formValid) {
                formValid = true;
                $("#collection-next").trigger("click");
            }
        }

        function init_wizard() {
            $("#collection-next").prop("disabled", true);
            setTimeout(function () {
                $("#collection-name-validation").focus();
            }, 500);
            formValid = false;
        }

        jQuery(function ($) {
            $("a[href='#new-collection-wizard']").on("click", function () {

                Shards.modal.new.collection(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);

                    $(shard_id + ' .modal-header').ace_wizard()
                            .on('finished', function (e) {
                                $('#new-collection-wizard').modal('hide');
                                location.reload();
                            })

                            .on('stepclick', function (e) {
                                return false; //prevent clicking on steps
                            })

                            .on('change', function (e, info) {
                                if (info.step == 1) {
                                    $("#collection-next").html("<i class='icon-star'></i> Create Now!");
                                }

                                if (info.step == 2) {
                                    if (info.direction == "next") {
                                        if (formValid) {
                                            $("#collection-next").html("<i class='icon-heart'></i> Thank you!");
                                            $("#collection-prev").hide();
                                        } else {
                                            Dajaxice.core.register_a_collection(Dajax.process, {
                                                'form': $('#collection-form').serialize(true)
                                            });
                                        }

                                        return formValid;
                                    } else {
                                        init_wizard();
                                    }
                                }
                            });

                    $(shard_id).modal("show");

                    callback_collection_name_event();

                    init_wizard();
                });
            });

            // TODO: change text to internationalized
            $('#new-work-button').on('click', function () {
                $('#new-collection-wizard').modal('hide');
            });


            //ROLL ON HOVER
            $(function () {
                $(".roll").css("opacity", "0");
                $(".roll").hover(function () {
                            $(this).stop().animate({
                                opacity: 1
                            }, "slow");
                        },
                        function () {
                            $(this).stop().animate({
                                opacity: 0
                            }, "slow");
                        });
            });

            $('[data-rel="tooltip"]').tooltip();
        });
    </script>


    <script type="text/javascript">

        // TODO: merge this with the new collection validation
        var workFormValid = false;
        var workFormCreate = false;

        function callback_validate_work_error() {
            workFormValid = false;
        }

        function callback_validate_work_ok() {
            if (!workFormValid) {
                workFormValid = true;
                $("#form-work-next").trigger("click");
            }
        }

        function callback_create_work_error() {
            workFormCreate = false;
        }

        function callback_create_work_ok(id) {

            $('#new_work_upload').attr('data-id', id);

            if (!workFormCreate) {
                workFormCreate = true;
                $("#form-work-next").trigger("click");
            }
        }

        function init_work_wizard() {
            $("#form-work-next").html('Next <i class="icon-arrow-right icon-on-right"></i>');
            workFormValid = false;
        }

        jQuery(function ($) {
            $('a[href="#new-work-wizard"][data-id]').on("click", function () {
                var collection_id = $(this).attr("data-id");

                Shards.modal.new.work(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);


                    $(shard_id + " #id_collection").val(collection_id);

                    $(shard_id + ' .modal-header').ace_wizard()
                            .on('finished', function (e) {
                                $('#new-work-wizard').modal('hide');
                                location.reload();
                            })

                            .on('stepclick', function (e) {
                                return false; //prevent clicking on steps
                            })

                            .on('change', function (e, info) {

                                if (info.step == 3) {
                                    if (info.direction == "next") {
                                        $("#form-work-next").html("<i class='icon-heart'></i> I'm done!");
                                    }
                                }

                                if (info.step == 2) {
                                    if (info.direction == "next") {
                                        if (workFormCreate) {
                                            window.selectedArea.cancelSelection();
                                            $("#form-work-next").html("<i class='icon-upload'></i> Upload My Files!");
                                            $("#form-work-prev").hide();
                                        } else {
                                            var crop = window.selectedArea.getSelection(true);

                                            var options = {
                                                //target:        '#output2',   // target element(s) to be updated with server response
                                                //beforeSubmit:  showRequest,  // pre-submit callback
                                                success: Dajax.process,  // post-submit callback

                                                // other available options:
                                                url: "/dajaxice/core.register_a_work/",         // override for form's 'action' attribute
                                                type: "post",        // 'get' or 'post', override for form's 'method' attribute
                                                data: {
                                                    'crop_x': crop.x1,
                                                    'crop_y': crop.y1,
                                                    'crop_w': crop.x2 - crop.x1,
                                                    'crop_h': crop.y2 - crop.y1,
                                                    'width': $('#current-image').width(),
                                                    'height': $('#current-image').height()
                                                }

                                                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                                                //clearForm: true        // clear all form fields after successful submit
                                                //resetForm: true        // reset the form after successful submit

                                                // $.ajax options can be used here too, for example:
                                                //timeout:   3000
                                            };


                                            $('#work-form').ajaxSubmit(options);
                                        }
                                        return workFormCreate;
                                    } else {
                                        $("#form-work-next").html('Next <i class="icon-arrow-right icon-on-right"></i>').prop("disabled", false);
                                    }

                                    if (window.selectedArea) {
                                        window.selectedArea.cancelSelection();
                                    }
                                }

                                if (info.step == 1) {
                                    if (info.direction == "next") {
                                        if (workFormValid) {
                                            $("#form-work-next").html("<i class='icon-star'></i> Select a Cover!").prop("disabled", true);
                                        } else {
                                            Dajaxice.core.validate_work_information(Dajax.process, {
                                                'form': $('#work-form').serialize(true)
                                            });
                                        }

                                        return workFormValid;
                                    } else {
                                        init_work_wizard();
                                    }
                                }
                            });


                    sortable_image_upload('#new_work_upload', "#files-preview");
                    $(shard_id).modal({backdrop: "static", show: true});
                    init_work_wizard();
                }, {"collection_id": collection_id});
            });
        });
    </script>
{% endblock %}
