{% extends 'main_template.html' %}
{% load dajaxice_templatetags %}
{% load static %}
{% load compress %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" />
{% endblock %}

{% block breadcrumbs %}
    <!-- TODO: extract this logic to a template tag, so the breadcrumbs are calculated by the system -->
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">Home</a>
        </li>
        <li class="active">My Collections</li>
    </ul><!-- .breadcrumb -->
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <a id="collection-wizard-link" href="#new-collection-wizard" data-toggle="modal" class="btn btn-danger btn-block"> New Collection </a>
        </div>
    </div>

    <div id="new-collection-wizard" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- HEADER -->
                <div class="modal-header" data-target="#modal-step-contents">
                    <ul class="wizard-steps">
                        <li data-target="#modal-start" class="active">
                            <span class="step">1</span>
                            <span class="title">Name Verification</span>
                        </li>

                        <li data-target="#modal-details">
                            <span class="step">2</span>
                            <span class="title">Details</span>
                        </li>

                        <li data-target="#modal-confirmation">
                            <span class="step">3</span>
                            <span class="title">Confirmation</span>
                        </li>
                    </ul>
                </div>

                <!-- CONTENT -->
                <div class="modal-body step-content" id="modal-step-contents">
                    <div class="step-pane active" id="modal-start">
                        {% include "collection_form/_name_validation.html" %}
                    </div>

                    <div class="step-pane" id="modal-details">
                        {% include "collection_form/_general_information.html" %}
                    </div>

                    <div class="step-pane" id="modal-confirmation">
                        {% include "collection_form/_confirmation.html" %}
                    </div>
                </div>

                <!-- NAVIGATION -->
                <div class="modal-footer wizard-actions">
                    <button id="collection-prev" class="btn btn-sm btn-prev">
                        <i class="icon-arrow-left"></i>
                        Prev
                    </button>

                    <button id="collection-next" class="btn btn-success btn-sm btn-next">
                        Next
                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>

                    <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/fuelux/fuelux.wizard.min.js" %}"></script>
        <script src="{% static "js/jquery.validate.min.js" %}"></script>
        <script src="{% static "js/date-time/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/bootstrap-tag.min.js" %}"></script>
        {% dajaxice_js_import 'nocsrf' %}
        <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
        <script type="text/javascript" src="{% static "js/barddo/pages/collection.create.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">

        // Workaround to handle form validation in an asynchronous way
        var formValid = false;

        function callback_validate_collection_error() {
            formValid = false;
        }

        function callback_validate_collection_ok() {
            if(!formValid) {
                formValid = true;
                $("#collection-next").trigger("click");
            }
        }

        function init_wizard() {
            $("#collection-name-group").removeClass("has-error has-success").addClass("has-info");
            $("#collection-next").html('Next <i class="icon-arrow-right icon-on-right"></i>');
            $("#collection-next").prop("disabled", true);
            $("#collection-name-validation").val('');
            $("#collection-name-group i").removeClass().addClass('icon-info-sign');
            setTimeout(function() {$("#collection-name-validation").focus(); }, 500);
            formValid = false;
        }

        jQuery(function($) {
            // TODO: change text to internationalized
            $('#new-collection-wizard .modal-header').ace_wizard()
                    .on('finished', function(e) {
                        $('#new-collection-wizard').modal('hide');
                    })

                    .on('stepclick', function(e){
                        return false; //prevent clicking on steps
                    })

                    .on('change' , function(e, info){
                        if(info.step == 1) {
                            $("#collection-next").html("<i class='icon-star'></i> Create Now!");
                        }

                        if(info.step == 2) {
                            if(info.direction == "next") {
                                if(formValid) {
                                    $("#collection-next").html("<i class='icon-heart'></i> Thank you!");
                                    $("#collection-prev").hide();
                                } else {
                                    Dajaxice.core.register_a_collection(Dajax.process, {
                                        'form': $('#collection-form').serialize(true)
                                    });
                                }

                                return formValid;
                            } else {
                                init_wizard();
                            }
                        }
                    });


            $('#collection-wizard-link').on('click', function() {
                wizardMoveFirst($('#new-collection-wizard .modal-header'));
            });

            $('#new-collection-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');

            init_wizard();
        });
    </script>
{% endblock %}