{% extends 'main_template.html' %}
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load compress %}
{% load thumbnail %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/uncompressed/barddo.gallery.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <div id="options">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected"><i class="icon icon icon-th-large"></i> All
                Items</a></li>
            <li><a href="#filter" data-option-value=".collection-great"><i class="icon icon-star"></i> New</a></li>
            <li><a href="#filter" data-option-value=".collection-good"><i class="icon icon-comments"></i> Trending</a>
            </li>
            <li><a href="#filter" data-option-value=".collection-common"><i class="icon icon-circle-arrow-up"></i>
                Rising</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <!-- PAGE CONTENT BEGINS -->

            <div id="collection-content" class="col-lg-12  col-md-12 col-sm-12 col-xs-12 collections-wrap">
                <div class="row">
                    <div class="portfolio">
                        {% for work in works %}
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item collection-great">
                                <div class="boxcontainer" id="work-container-{{ work.id }}">
                                    <div class="cover-wrap">
                                        <img src="{{ work.cover|thumbnail_url:"big_cover" }}" alt="">
                                    </div>

                                    <div class="roll">
                                        <div class="wrapcaption">
                                            <a id="work-vote-{{ work.id }}" class="vote" href="projectdetail.html">
                                                <i class="icon-heart-empty captionicons"></i>
                                            </a>
                                        </div>

                                        <div class="work-detail-popup">

                                            <div class="arrow"></div>
                                            ahsuhashuauhs
                                        </div>
                                    </div>


                                    <div class="work-information">
                                        <span class="badge badge-danger pull-right work-number">#{{ work.unit_count }}</span>

                                        <h1>{{ work.title }}</h1>

                                        <h2>{{ work.collection.name }}</h2>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/jquery.isotope.min.js" %}"></script>
        <script src="{% static "js/portfolio.js" %}"></script>
        {% dajaxice_js_import 'nocsrf' %}
        <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
        <script type="text/javascript" src="{% static "js/barddo/pages/gallery.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if next_url %}
                $("#loginModal").modal();
            {% endif %}

            //ROLL ON HOVER
            $(function () {
                $(".roll").css("opacity", "0");
                $(".roll").hover(function () {
                            $(this).stop().animate({
                                opacity: 1
                            }, "slow");
                        },
                        function () {
                            $(this).stop().animate({
                                opacity: 0
                            }, "slow");
                        });
            });

            $(".vote").popover({
                trigger: "manual",
                placement: "bottom",
                html: true,
                animation: false,
                container: "body",
                content: function () {
                    return $(this).find(".popover-data").html();
                }
            });
        });
    </script>
{% endblock %}