{% extends 'main_template.html' %}
{% load staticfiles %}
{% load compress %}
{% load thumbnail %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/uncompressed/barddo.gallery.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <div id="options">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected"><i class="icon icon icon-th-large"></i> All
                Items</a></li>
            <li><a href="#filter" data-option-value=".collection-great"><i class="icon icon-star"></i> New</a></li>
            <li><a href="#filter" data-option-value=".collection-good"><i class="icon icon-comments"></i> Trending</a>
            </li>
            <li><a href="#filter" data-option-value=".collection-common"><i class="icon icon-circle-arrow-up"></i>
                Rising</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <!-- PAGE CONTENT BEGINS -->

            <div id="collection-content" class="col-lg-12  col-md-12 col-sm-12 col-xs-12 collections-wrap">
                <div class="row">
                    <div class="portfolio">
                        {% for work in works %}
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item collection-great">
                                <div class="boxcontainer">
                                    <div class="cover-wrap">
                                        <img src="{{ work.cover|thumbnail_url:"big_cover" }}" alt="">
                                    </div>

                                    <div class="roll">
                                        <div class="wrapcaption">
                                            <a class="vote" data-id="{{ work.id }}" href="projectdetail.html">
                                                <i class="icon-heart-empty captionicons"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="work-information">
                                        <span class="badge badge-danger pull-right work-number">#{{ work.unit_count }}</span>

                                        <h1>{{ work.title }}</h1>

                                        <h2>{{ work.collection.name }}</h2>
                                    </div>
                                </div>
                                <div id="work-popup-{{ work.id }}" class="popover-data">
                                    <div class="work-detail-popup">
                                        <div class="popover-details">
                                            <div class="row pull-left">
                                                <div class="col-sm-2 center">
                                                    <img class="artist"
                                                         src="{{ MEDIA_URL }}user_avatar/falleco-social.jpg"
                                                         alt="Artist Photo"/>
                                                    <span>Israel</span>
                                                </div>
                                                <div class="col-sm-9">
                                                    This is some neat description This is some neat description This is
                                                    some
                                                    neat description This is some neat description This is some neat
                                                    description
                                                    This is some neat description
                                                </div>

                                                <div class="col-sm-1">
                                                    <div class="popup-likes pull-right center">
                                                        <i class="icon-heart"></i><br/>
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="pull-right popup-buttons">
                                            <a href="#" class="btn btn-minier btn-success">
                                                <i class="icon-zoom-in"></i> Read Now!
                                            </a>
                                            <a href="#" class="btn btn-minier btn-info">
                                                <i class="icon-share"></i> Share
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/jquery.isotope.min.js" %}"></script>
        <script src="{% static "js/portfolio.js" %}"></script>
        <script type="text/javascript" src="{% static "js/barddo/pages/gallery.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if next_url %}
                $("#loginModal").modal();
            {% endif %}

            var onPopupHover = false;

            //ROLL ON HOVER
            $(function () {
                $(".roll").css("opacity", "0");
                $(".roll").hover(function () {
                            $(this).css("opacity", 1);
                        },
                        function () {
                            if (!onPopupHover) {
                                $(this).css("opacity", 0);
                            }
                        });
            });

            $(".vote").popover({
                trigger: "manual",
                html: true,
                animation: false,
                placement: "bottom",
                container: "body",
                content: function () {
                    var id = $(this).attr("data-id");
                    return $("#work-popup-" + id).html();
                },

                template: '<div class="popover work-popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
            });

            $(".boxcontainer").on("mouseenter",function () {
                var _this = this;

                if (!$(".popover").length) {
                    $(".vote").popover("show");

                    $(".popover").on("mouseleave", function () {
                        setTimeout(function () {
                            if (!$(".boxcontainer:hover").length) {
                                $(".vote").popover('hide');
                                $(".roll").css("opacity", 0);
                            }
                        }, 100);

                        onPopupHover = false;
                    });
                }

                onPopupHover = true;

            }).on("mouseleave", function () {
                var _this = this;
                setTimeout(function () {
                    if (!$(".popover:hover").length) {
                        onPopupHover = false;
                        $(".vote").popover("hide");
                        $(".roll").css("opacity", 0);
                    }
                }, 100);
            });
        });
    </script>
{% endblock %}