{% extends 'main_template.html' %}
{% load staticfiles %}
{% load compress %}
{% load work_element %}

{% block header %}
    <link rel="stylesheet" href="{% static "barddo/css/barddo.gallery.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bottom.css" %}"/>

    <link rel="stylesheet" href="{% static "css/uncompressed/barddo.banner.css" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static "custom-modal/css/style.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <div id="options">
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li>
                <a href="#filter" class="selected" data-option-value=".collection-trending">
                    <i class="icon icon-comments"></i> Trending
                </a>
            </li>

            <li>
                <a href="#filter" data-option-value=".collection-rising">
                    <i class="icon icon-circle-arrow-up"></i> Rising
                </a>
            </li>

            <li>
                <a href="#filter" data-option-value=".collection-new">
                    <i class="icon icon icon-th-large"></i> New
                </a>
            </li>
        </ul>
    </div>


    <ul class="discover navbar-right">
        <li class="dropdown">
            <a href="#" id="discover-drop" role="button" class="dropdown-toggle red"
               data-toggle="dropdown">Descubra o Barddo
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="discover-drop">
                <li role="presentation">
                    <a id="btn-discover" role="menuitem" tabindex="-1" href="#">
                        <img src="{% static "images/banner/discover-blue.png" %}" class="image pull-left"/>
                        <span class="call">Descubra</span>
                        <span class="description">Publicar, compartilhar e encontrar mangás e HQs nunca foi tão simples!</span>
                    </a>
                </li>
                <li class="divider"></li>

                <li role="presentation">
                    <a id="btn-understand" role="menuitem" tabindex="-1" href="#">
                        <img src="{% static "images/banner/understand-blue.png" %}" class="image pull-left"/>
                        <span class="call">Entenda</span>
                        <span class="description">Tudo que você precisa saber sobre o Barddo está aqui!</span>
                    </a>
                </li>

                <li class="divider"></li>

                <li role="presentation">
                    <a id="btn-enjoy" role="menuitem" tabindex="-1" href="#">
                        <img src="{% static "images/banner/enjoy-blue.png" %}" class="image pull-left"/>

                        <div>
                            <span class="call">Aproveite</span>
                            <span class="description">Relaxe, leia, compartilhe, indique e ajude artistas a ter o destque que merecem!</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>


{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row">
            <!-- PAGE CONTENT BEGINS -->

            <div id="collection-content" class="col-lg-12  col-md-12 col-sm-12 col-xs-12 collections-wrap">
                <div class="row">
                    <div class="portfolio" style="display: none">
                        {% for work in new_works %}
                            {% work_element work "collection-new" %}
                        {% endfor %}

                        {% for work in rising_works %}
                            {% work_element work "collection-rising" %}
                        {% endfor %}

                        {% for work in trending_works %}
                            {% work_element work "collection-trending" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>


{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "js/jquery.isotope.min.js" %}"></script>
        <script src="{% static "js/portfolio.js" %}"></script>
        <script type="text/javascript" src="{% static "barddo/js/pages/gallery.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-discover").on("click", function () {

                Shards.modal.help.discover(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);
                    $(shard_id).modal('show');
                });
            });

            if (window.location.hash == "#discover") {
                $("#btn-discover").trigger("click");
            }

            $("#btn-understand").on("click", function () {
                Shards.modal.help.understand(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);
                    $(shard_id).modal('show');
                });
            });

            if (window.location.hash == "#understand") {
                $("#btn-understand").trigger("click");
            }

            $("#btn-enjoy").on("click", function () {
                Shards.modal.help.enjoy(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);
                    $(shard_id).modal('show');
                });
            });

            if (window.location.hash == "#enjoy") {
                $("#btn-enjoy").trigger("click");
            }


            {% if next_url %}
                $("#loginModal").modal();
            {% endif %}

            var onPopupHover = false;

            //ROLL ON HOVER
            $(function () {
                var $roll = $(".roll");
                $roll.css("opacity", "0");
                $roll.hover(function () {
                            $(this).css("opacity", 1);
                        },
                        function () {
                            if (!onPopupHover) {
                                $(this).css("opacity", 0);
                            }
                        });
            });

            $(".vote").popover({
                trigger: "manual",
                html: true,
                animation: false,
                placement: "bottom",
                container: "body",
                content: function () {
                    var id = $(this).closest("div[data-work-id]").attr("data-work-id");
                    return $("#work-popup-" + id).html();
                },

                template: '<div class="popover work-popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
            });

            $(".boxcontainer").on("mouseenter",function () {
                var _this = this;
                var work_id = $(this).closest('div[data-work-id]').attr('data-work-id');
                $(".vote", _this).popover("show");

                $(".popover").on("mouseleave", function (e) {
                    var $boxcontainer = $(".boxcontainer:hover");
                    if ($boxcontainer.length) {
                        var new_work_id = $boxcontainer.closest('div[data-work-id]').attr('data-work-id');
                        if (new_work_id != work_id) {
                            $(".vote", _this).popover('hide');
                            $(".roll", _this).css("opacity", 0);
                        }
                    } else {
                        $(".vote", _this).popover('hide');
                        $(".roll", _this).css("opacity", 0);
                    }
                    onPopupHover = false;
                });
                onPopupHover = true;
            }).on("mouseleave", function () {
                var _this = this;
                if (!$(".popover:hover").length) {
                    onPopupHover = false;
                    $(".vote", _this).popover("hide");
                    $(".roll", _this).css("opacity", 0);
                }
            });
            {% if user.is_authenticated %}
                $(document).on("click", ".popover-content button.btn-reader", function () {
                    var work_id = $(this).attr("data-work-id");
                    Shards.reader(function (shard_id, shard_data, parent) {
                        $(shard_id).remove();
                        $(parent).append(shard_data);
                        $(shard_id).modal('show');
                    }, {"work_id": work_id});
                });
            {% endif %}
        });
    </script>
{% endblock %}