{% load thumbnail %}
{% load static %}
{% load i18n %}

<div data-work-id="{{ work.id }}" class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 item {{ classes }}">
    <div class="boxcontainer">
        <div class="cover-wrap">
            <img src="{{ work.cover|thumbnail_url:"big_cover" }}" alt="">
        </div>

        <div class="roll">
            <div class="wrapcaption">
                {% if work.liked %}
                    <a class="vote liked captionicons" data-work-id="{{ work.id }}" href="projectdetail.html">
                        <i class="icon-star"></i>
                    </a>
                {% else %}
                    <a class="vote liked captionicons" data-work-id="{{ work.id }}" href="projectdetail.html">
                        <i class="icon-star-empty"></i>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="work-information">
            <span class="badge badge-danger pull-right work-number">#{{ work.unit_count }}</span>

            <h1>{{ work.title }}</h1>

            <h2>{{ work.collection.name }}</h2>
        </div>
    </div>
    <div id="work-popup-{{ work.id }}" class="popover-data">
        <div class="work-detail-popup">
            <div class="popover-details">
                <div class="row pull-left popover-detail-width">
                    <div class="col-sm-2 center">
                        <img class="artist"
                             src="{% get_media_prefix %}{{ work.author.profile.avatar }}"
                             alt="{% trans "Artist Photo" %}"/>
                        <span>{{ work.author.first_name }}</span>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ work.summary }}</p>
                    </div>

                    <div class="col-sm-1">
                        <div class="popup-likes pull-right center">
                            <i class="icon-heart"></i><br/>
                            {{ work.total_likes }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="pull-left">
                {% if work.is_free %}
                    <span class="bolder green">Free!</span>
                {% else %}
                    <span class="bolder blue">R${{ work.price }}</span>{# TODO: Tratar currency #}
                {% endif %}
            </div>
            <div class="pull-right popup-buttons">
                {% if user.is_authenticated %}
                    <button data-work-id="{{ work.id }}" type="button" class="btn-reader btn btn-minier btn-success">
                        <i class="icon-zoom-in"></i> {% trans "Read Now!" %}
                    </button>
                    <a href="#" class="btn btn-minier btn-info">
                        <i class="icon-share"></i> {% trans "Share" %}
                    </a>
                {% else %}
                    <button type="button" class="login-required btn btn-minier btn-success">
                        <i class="icon-zoom-in"></i> {% trans "Read Now!" %}
                    </button>
                    <a href="#" class="login-required btn btn-minier btn-info">
                        <i class="icon-share"></i> {% trans "Share" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>