{% load staticfiles %}

{% block base_css_imports %}
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}"/>
    <!--[if lte IE 7]><link rel="stylesheet" href="{% static "font-awesome/css/font-awesome-ie7.css" %}" /><![endif]-->

    <!-- jQuery -->
    <link rel="stylesheet" href="{% static "css/jquery.gritter.css" %}"/>

    <!-- ace -->
    <link rel="stylesheet" href="{% static "ace/css/ace-fonts.css" %}"/>

    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.3.full.min.css" %}"/>

    <link rel="stylesheet" href="{% static "ace/css/ace.css" %}"/>
    <link rel="stylesheet" href="{% static "ace/css/ace-rtl.css" %}"/>
    <link rel="stylesheet" href="{% static "ace/css/ace-skins.css" %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "ace/css/ace-ie.css" %}" /><![endif]-->

    <!-- barddo styles -->
    <link rel="stylesheet" href="{% static "barddo/css/barddo.css" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "barddo/less/barddo.navbar.less" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "barddo/less/barddo.footer.less" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "barddo/less/barddo.scroll.less" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "barddo/less/barddo.searchbox.less" %}"/>
{% endblock %}