{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load shards_templatetags %}

{% block base_js_imports %}

    <!-- jQuery -->
        <script src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
        <script src="{% static "js/jquery.ui.touch-punch.min.js" %}"></script>
        <script src="{% static "js/jquery.slimscroll.min.js" %}"></script>
        <script src="{% static "js/jquery.gritter.min.js" %}"></script>

    <!-- TypeAhead -->
        <script src="{% static "typeahead/js/typeahead.bundle.js" %}"></script>

    <!-- Ace -->
        <script src="{% static "ace/js/ace.js" %}"></script>
        <script src="{% static "ace/js/ace-extra.js" %}"></script>
        <script src="{% static "ace/js/ace-elements.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="{% static "js/html5shiv.js" %}"></script>
		<script src="{% static "js/respond.min.js" %}"></script>
	<![endif]-->

    {% dajaxice_js_import 'nocsrf' %}
    <script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>

    <!--[if lte IE 8]><script src="{% static "js/excanvas.min.js" %}"></script><![endif]-->

    <!-- Barddo -->
        <script src="{% static "barddo/js/scroll.js" %}"></script>
        <script src="{% static "barddo/js/utils.js" %}"></script>

    {% shards_js_import %}
{% endblock %}