{% load static %}
{% load i18n %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid navbar-container container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header {{ user.is_authenticated | yesno:",navbar-max-width" }}">
                {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barddo-navbar">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}

                <a href="{% url "core.index" %}" class="navbar-brand"></a>

                <div class="barddo-nav-search pull-left" id="barddo-nav-search">
                    <form class="form-search" action="{% url 'search.result' %}" method="get">
                        <span class="input-icon">
                            <input type="text"
                                   placeholder="{% trans "Search people, collections, mangas, HQs etc..." %}"
                                   class="barddo-nav-search-input"
                                   name="t"
                                   id="barddo-nav-search-input" autocomplete="off"/>
                            <i class="icon-search barddo-nav-search-icon"></i>
                        </span>
                    </form>
                </div>

                {% if not user.is_authenticated %}
                    <div class="pull-right">
                        <button class="login-required btn btn-signin" data-target="#loginModal">
                            <i class="icon-signin"></i> {% trans "Login" %}
                        </button>
                    </div>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="barddo-navbar">
                    <div role="navigation">

                        <ul class="nav navbar-nav ace-nav">
                            <!--  Smaller screens  -->
                            {% if user.is_publisher %}
                                <li class="dashboard-link visible-xs">
                                    <a href="{% url "core.dashboard" %}">
                                        <i class="icon-dashboard"></i>{% trans "Dashboard" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="visible-xs">
                                <a href="{% url 'account.editable_profile' %}">
                                    <i class="icon-user"></i>Profile
                                </a>
                            </li>
                            <li class="visible-xs">
                                <a href="{% url 'publishing.landpage' %}">
                                    <i class="icon-book"></i>Publisher Area
                                </a>
                            </li>
                            <li class="visible-xs">
                                <a class="logout" href="{% url 'logout' %}">
                                    <i class="icon-off"></i>Logout
                                </a>
                            </li>

                            <!--  Bigger screens  -->
                            <li class="dropdown light-blue hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="nav-user-photo" src="{{ MEDIA_URL }}{{ avatar }}"
                                         alt="{% trans "User Photo" %}"/>
                                    <span class="user-info">
                                        <small>{% trans "Welcome," %}</small>
                                        {{ username }}</span>
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account.editable_profile' %}">
                                        <i class="icon-user"></i>{% trans "Profile" %}</a>
                                    </li>
                                    <li><a href="{% url 'publishing.landpage' %}">
                                        <i class="icon-book"></i>{% trans "Publisher Area" %}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a class="logout" href="{% url 'logout' %}">
                                        <i class="icon-off"></i>{% trans "Logout" %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="notification_dropdown" class="orange">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-warning-sign icon-animated-vertical"></i>
                                    <span class="badge badge-notify">{{ notifications|length }}</span>
                                </a>

                                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                    <li class="dropdown-header">
                                        <i class="icon-warning-sign"></i>
                                        <span>{{ notifications|length }}</span> {% trans "Notifications" %}
                                    </li>
                                    {% for notification in notifications %}
                                        <li>
                                            <a href="{{ notification.redirect_url }}">
                                                <img src="{% get_media_prefix %}{{ notification.actor.profile.avatar }}" class="msg-photo"
                                                     alt="{{ notification.actor.first_name }} Avatar">
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">{{ notification.actor.first_name }}:</span>
									            {{ notification.message }}
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>{{ notification.timestamp|timesince }}</span>
											</span>
										</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{{ user.user_url }}#notifications">
                                            {% trans 'See all notifications' %}
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.is_publisher %}
                                <li class="dashboard-link hidden-xs">
                                    <a href="{% url "core.dashboard" %}">
                                        <i class="icon-dashboard"></i>Dashboard
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
        <!-- /.container-fluid -->

    </nav>
    <script type="text/javascript">
        function notification_read_callback() {
            $(".badge-notify").html("0");
            $("li.dropdown-header span").html("0");
        }
        $(document).ready(function () {
            {% if user.is_authenticated %}
                $("#notification_dropdown").on("shown.bs.dropdown", function () {
                    Dajaxice.notifications.mark_notifications_as_read(Dajax.process, {});
                });
            {% else %}
                $(document).on("click", ".login-required", function () {
                    $('#loginModal').modal('show');
                });
            {% endif %}
        });
    </script>
{% endblock %}