{% load staticfiles %}
{% load i18n %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid navbar-container container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header {{ user.is_authenticated | yesno:",navbar-max-width" }}">
                {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barddo-navbar">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}

                <a href="{% url "core.index" %}" class="navbar-brand"></a>

                <div class="barddo-nav-search pull-left" id="barddo-nav-search">
                    <form class="form-search" action="{% url 'search.result' %}" method="get">
                        <span class="input-icon">
                            <input type="text"
                                   placeholder="{% trans "Search people, collections, mangas, HQs etc..." %}"
                                   class="barddo-nav-search-input"
                                   name="t"
                                   id="barddo-nav-search-input" autocomplete="off"/>
                            <i class="icon-search barddo-nav-search-icon"></i>
                        </span>
                    </form>
                </div>

                {% if user.is_authenticated == False %}
                    <div class="pull-right">
                        <button class="login-required btn btn-signin" data-target="#loginModal">
                            <i class="icon-signin"></i> {% trans "Login" %}
                        </button>
                    </div>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="barddo-navbar">
                    <div role="navigation">

                        <ul class="nav navbar-nav ace-nav">
                            <!--  Smaller screens  -->
                            {% if user.is_publisher %}
                                <li class="dashboard-link visible-xs">
                                    <a href="{% url "core.dashboard" %}">
                                        <i class="icon-dashboard"></i>{% trans "Dashboard" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="visible-xs">
                                <a href="{% url 'account.editable_profile' %}">
                                    <i class="icon-user"></i>Profile
                                </a>
                            </li>
                            <li class="visible-xs">
                                <a href="{% url 'publishing.landpage' %}">
                                    <i class="icon-book"></i>Publisher Area
                                </a>
                            </li>
                            <li class="visible-xs">
                                <a href="{% url 'logout' %}">
                                    <i class="icon-off"></i>Logout
                                </a>
                            </li>

                            <!--  Bigger screens  -->
                            <li class="dropdown light-blue hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="nav-user-photo" src="{{ MEDIA_URL }}{{ avatar }}" alt="{% trans "User Photo" %}"/>
                                    <span class="user-info">
                                        <small>{% trans "Welcome," %}</small>
                                        {{ username }}</span>
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account.editable_profile' %}">
                                        <i class="icon-user"></i>{% trans "Profile" %}</a>
                                    </li>
                                    <li><a href="{% url 'publishing.landpage' %}">
                                        <i class="icon-book"></i>{% trans "Publisher Area" %}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}">
                                        <i class="icon-off"></i>{% trans "Logout" %}</a>
                                    </li>
                                </ul>
                            </li>

                            {% if user.is_publisher %}
                                <li class="dashboard-link hidden-xs">
                                    <a href="{% url "core.dashboard" %}">
                                        <i class="icon-dashboard"></i>Dashboard
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
        <!-- /.container-fluid -->

    </nav>
    {% if not user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function () {
                $(document).on("click", ".login-required", function () {
                    $('#loginModal').modal('show');
                });
            });
        </script>
    {% endif %}
{% endblock %}