<div class="center" style="height: 100%">
    <input type="file" id="{{ work_form.cover.auto_id }}" name="{{ work_form.cover.name }}"/>

    <div id="crop-container" style="position: absolute; top: -130px; left:-10px"></div>
    <div id="upload-preview">
    </div>

</div>

{% block bottom_page %}
    <script type="text/javascript">
        jQuery(function ($) {

            var preview = $("#upload-preview");

            $('#' + '{{ work_form.cover.auto_id }}').ace_file_input({
                no_file: 'Select your work cover...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                icon_remove: "",
                droppable: false,
                onchange: null,
                thumbnail: false, //| true | largeuhASHUAUHSHUAS
                whitelist: 'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            }).on('change', function () {

                $("#form-work-next").html("<i class='icon-star'></i> Select a Cover!").prop("disabled", false);

                var input = $(event.currentTarget);
                var file = input[0].files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (window.selectedArea) {
                        window.selectedArea.cancelSelection();
                    }

                    $("#upload-preview").html("");
                    image_base64 = e.target.result;
                    preview.append("<img id='current-image' src='" + image_base64 + "'/><br/>");

                    var tmpImg = new Image();
                    tmpImg.src = image_base64

                    var selected_image = $("#current-image");

                    var pw = selected_image.width();
                    var ph = selected_image.height();

                    var ow = tmpImg.width;
                    var oh = tmpImg.height;

                    var wr = pw / ow;
                    var hr = ph / oh;

                    alert(wr + " " + hr);


                    if (ow < 261 || oh < 300) {
                        $("#form-work-next").html("<i class='icon-star'></i> Select a Cover!").prop("disabled", true);
                        //$("#current-image").remove()
                        alert("Sorry, but the minimal size accepted is 261x300! Please, select another image! your was " + tmpImg.width + "px width and " + tmpImg.height + "px height;");
                    } else {
                        setTimeout(function () {
                            window.selectedArea = $('#current-image').imgAreaSelect({
                                x1: 0, y1: 0, x2: 261 * wr, y2: 300 * hr,
                                handles: true,
                                aspectRatio: '261:300',
                                show: true,
                                persistent: true,
                                instance: true,
                                parent: "#crop-container",
                                zIndex: 9999,
                                minWidth: 261 * wr,
                                minHeight: 300 * hr
                            });
                        }, 500);
                    }
                };
                reader.readAsDataURL(file);
            });

        });
    </script>
{% endblock %}