{% load i18n %}
<div class="center" style="height: 100%">
    <input type="file" id="{{ work_form.cover.auto_id }}" name="{{ work_form.cover.name }}"/>

    <div id="crop-container" style="position: absolute; top: -130px; left:-10px"></div>
    <div id="upload-preview">
    </div>

</div>

{% block bottom_page %}
    <script type="text/javascript">

        function setup_crop_preview(target, container) {

            var preview = $(container + " #upload-preview");

            $(container + " " + target).ace_file_input({
                no_file: '{% trans "Select your work cover..." %}',
                btn_choose: '{% trans "Choose" %}',
                btn_change: '{% trans "Change" %}',
                icon_remove: "",
                droppable: false,
                onchange: null,
                thumbnail: false, //| true | largeuhASHUAUHSHUAS
                whitelist: 'gif|png|jpg|jpeg'
            }).on('change', function (e) {

                $("#form-work-next").html("<i class='icon-star'></i> {% trans "Select a Cover!" %}").prop("disabled", false);

                var input = $(e.currentTarget);
                var file = input[0].files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    // Just a sanity check, avoiding two selected area at once
                    if (window.selectedArea) {
                        window.selectedArea.cancelSelection();
                    }

                    // To show a preview, we encode the image as a base64 and use it on the src attr in the img tag
                    $(container + " #upload-preview").html("");
                    image_base64 = e.target.result;
                    preview.append("<img id='current-image' src='" + image_base64 + "'/><br/>");

                    // A trick to get the real image dimensions, we need to wait until the image is fully downloaded
                    // on chrome this happens without any effort, the src attribute act synchronously, but not on other
                    // browsers
                    var tmpImg = new Image();

                    tmpImg.onload = function () {
                        var originalHeight = this.height;
                        var originalWidth = this.width;

                        // Now we need to calculate the minimal size based on the preview resize
                        // Ie: The image is 5000x5000, but the preview is 1000x1000, then the minimal size should be
                        // calculated as 1000/5000 * MINIMAL_WIDTH

                        var selected_image = $(container + " #current-image");
                        var previewWidth = selected_image.width();
                        var previewHeight = selected_image.height();


                        var widthRatio = previewWidth / originalWidth;
                        var heightRatio = previewHeight / originalHeight;

                        if (originalWidth < 261 || originalHeight < 300) {
                            $("#form-work-next").html("<i class='icon-star'></i> Select a Cover!").prop("disabled", true);
                            $(container + " #current-image").remove()
                            alert("Sorry, but the minimal size accepted is 261x300 pixels! Please, select another image! Your was " + tmpImg.width + "px width and " + tmpImg.height + "px height;");
                        } else {
                            setTimeout(function () {
                                window.selectedArea = $(container + ' #current-image').imgAreaSelect({
                                    x1: 0, y1: 0, x2: 261 * widthRatio, y2: 300 * heightRatio,
                                    handles: true,
                                    aspectRatio: '261:300',
                                    show: true,
                                    persistent: true,
                                    instance: true,
                                    parent: container + " #crop-container",
                                    zIndex: 9999,
                                    minWidth: 261 * widthRatio,
                                    minHeight: 300 * heightRatio
                                });
                            }, 500);
                        }
                    };

                    tmpImg.src = image_base64


                };
                reader.readAsDataURL(file);
            });
        }

        jQuery(function ($) {
            setup_crop_preview('#' + '{{ work_form.cover.auto_id }}', '#work-form');
        });
    </script>
{% endblock %}