{% load widget_tweaks %}
{% load i18n %}

<input type="hidden" name="{{ work_form.collection.name }}" value="-1" id="{{ work_form.collection.auto_id }}">

<div class="form-group">
    <label for="{{ work_form.title.auto_id }}"
           class="col-xs-12 col-sm-3 control-label no-padding-right">{{ work_form.title.label }}</label>

    <div class="col-xs-12 col-sm-9">
        <span class="block">
            {% trans "Whats the name of your work?" as title_placeholder %}
            {% render_field work_form.title class="width-100" placeholder=title_placeholder %}
        </span>
    </div>
</div>
<div class="form-group">
    <label for="{{ work_form.author.auto_id }}"
           class="col-xs-12 col-sm-3 control-label no-padding-right">{{ work_form.author.label }}</label>

    <div class="col-xs-12 col-sm-9">
        <div>
            <input id="{{ work_form.author.auto_id }}" class="width-100" name="author">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="{{ work_form.title.auto_id }}"
           class="col-xs-12 col-sm-3 control-label no-padding-right">{{ work_form.publish_date.label }}</label>

    <div class="col-xs-12 col-sm-5">
        <div>
            <div class="input-group">
                {% render_field work_form.publish_date class="form-control date-picker" data-date-format="dd-mm-yyyy" %}
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="{{ work_form.summary.auto_id }}"
           class="col-xs-12 col-sm-3 control-label no-padding-right">{{ work_form.summary.label }}</label>

    <div class="col-xs-12 col-sm-9">
        <span class="block">
            {% trans "What happens?" as summary_placeholder %}
            {% render_field work_form.summary class="form-control" placeholder=summary_placeholder %}
        </span>
    </div>
</div>

<div class="form-group">
    <label for="{{ work_form.unit_count.auto_id }}"
           class="col-xs-12 col-sm-3 control-label no-padding-right">{{ work_form.unit_count.label }}</label>

    <div class="col-xs-12 col-sm-9">
        <div class="input-group">
            {% render_field work_form.unit_count class="input-mini" value="0" type="text" %}
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $({{ work_form.unit_count.auto_id }}).ace_spinner({value: {{ next_unit }}, min: 1, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info'});

        $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $({{ work_form.publish_date.auto_id }}).datepicker('setValue', new Date());

        $({{ work_form.author.auto_id }}).select2({
            allowClear: true,
            placeholder: "{% trans "Who is the author" %}",
            minimumInputLength: 2,
            ajax: {
                url: "{% url "accounts.usernames" %}",
                data: function (term) {
                    return {
                        q: term,
                        ignore_owner: false
                    }
                },
                results: function (data) {
                    var results = [];
                    $.each(data, function (index, item) {
                        results.push({
                            id: item.id,
                            text: item.username
                        });
                    });
                    return {
                        results: results
                    };
                }

            }
        });
    });
</script>
