<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>
    <strong>Warning</strong>
    When you register a collection, you ensure complete authorship over it's contents. Or, that you have the right to
    make it publicly available... For more information, please read our terms of service.
    <br />
</div>

<div class="center">
    <h3 class="green"><i class="icon-ok-sign icon-5x"></i></h3>
    <h3 class="green">Congrats!</h3>
    You collection is about to be created! Click finish to continue!
</div>
