{% load widget_tweaks %}
{% load i18n %}

<form class="form-horizontal" id="collection-form" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.name.auto_id }}"
               class="col-xs-12 col-sm-3 control-label no-padding-right">{{ form.name.label }}</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                {% render_field form.name class="width-100" readonly="true" %}
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.summary.auto_id }}"
               class="col-xs-12 col-sm-3 control-label no-padding-right">{{ form.summary.label }}</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                {% trans "Write some meaningful description about this work here..." as summary_ph %}
                {% render_field form.summary class="form-control" placeholder=summary_ph %}
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.unit.auto_id }}"
               class="col-xs-12 col-sm-3 control-label no-padding-right">{{ form.unit.label }}</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                {% render_field form.unit class="width-100 select2-offscreen" type="hidden" %}
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.start_date.auto_id }}"
               class="col-xs-12 col-sm-3 control-label no-padding-right">{{ form.start_date.label }}</label>

        <div class="col-xs-12 col-sm-5">
            <span class="block">
                <div class="input-group">
                    {% render_field form.start_date class="form-control date-picker" data-date-format="dd-mm-yyyy" %}
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
            </span>
        </div>
    </div>
</form>

{% block bottom_page %}
    <script type="text/javascript">
        jQuery(function ($) {
            // A new collection start date may be today
            $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $({{ form.start_date.auto_id }}).datepicker('setValue', new Date());

            // Use a beauty drop file widget
            $('#new-collection-wizard input[type=file]').ace_file_input({
                style: 'well',
                btn_choose: '{% trans "Drop your collection cover here or click to choose" %}',
                btn_change: null,
                no_icon: 'icon-cloud-upload',
                droppable: true,
                thumbnail: 'large'
            });

            $('#{{ form.unit.auto_id }}').select2({
                allowClear: true,
                placeholder: "{% trans "Select a count unit to use" %}"
            });
        });
    </script>
{% endblock %}