<form class="form-horizontal" id="collection-form">

    <div class="form-group">
        <label for="name" class="col-xs-12 col-sm-3 control-label no-padding-right">Cover</label>

        <div class="col-xs-12 col-sm-5">
            <span class="block">
                <input type="file" />
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-xs-12 col-sm-3 control-label no-padding-right">Collection Name</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                <input type="text" id="name" class="width-100" />
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="summary" class="col-xs-12 col-sm-3 control-label no-padding-right">Summary</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                <textarea id="summary" class="form-control" id="form-field-8"></textarea>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="unit" class="col-xs-12 col-sm-3 control-label no-padding-right">Unit Type</label>

        <div class="col-xs-12 col-sm-9">
            <span class="block">
                <input type="text" id="unit" class="width-100" />
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="start-date" class="col-xs-12 col-sm-3 control-label no-padding-right">Start Date</label>

        <div class="col-xs-12 col-sm-5">
            <span class="block">
                <div class="input-group">
                    <input class="form-control date-picker" id="start-date" type="text" data-date-format="dd-mm-yyyy">
                        <span class="input-group-addon">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                </div>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="categories">Categories</label>

        <div class="col-xs-12 col-sm-9">
            <input type="text" name="tags" id="categories" value="Action" placeholder="Enter tags ..." />
        </div>
    </div>
</form>