{% load staticfiles %}
<!-- TODO: Create an collection icon here to be clear about its concept -->

<div class="row">
    <div class="col-sm-8">
        <div class="well">
            <h4 class="green smaller lighter">Heads Up!</h4>
            A collection is a way to group your work. Are you sure this is what you want?

            <br/><br/>Enter the name of the
            collection you want to create, so we can see if it does not already exist.

            <br/><br/>For more information, please read <a href="#">our terms of service</a>.
        </div>
    </div>
    <div class="col-sm-4">
        <img src="{% static "images/art/why.png" %}"/>
    </div>
</div>

<form class="form-horizontal" id="collection-name-form">
    <div id="collection-name-group" class="form-group has-info">
        <div class="col-xs-12 col-sm-12">
            <span class="block input-icon input-icon-right">
                <input id="collection-name-validation" type="text" id="name" class="width-100"
                       placeholder="Enter your collection name and wait..." autofocus="true"/>
                <i class="icon-info-sign"></i>
            </span>
        </div>
    </div>
</form>