<!-- TODO: Create an collection icon here to be clear about its concept -->

<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>
    <strong>Heads up!</strong>
    A collection works is a way to group your work. Are you sure this is what you want? Enter the name of the collection you want to create, so we can see if it does not already exist.
    <br />
</div>

<form class="form-horizontal" id="collection-name-form">
    <div class="form-group">
        <div class="col-xs-12 col-sm-12">
            <span class="block">
                <input type="text" id="name" class="width-100" placeholder="Enter your collection name and wait..." />
            </span>
        </div>
    </div>
</form>