@import "compass/css3"
@import "compass/utilities/general/clearfix"

//Import helers 
@import "mixins"
@import "type"
@import "animate"

//Import partials page styles
@import "partials/title-slide"
@import "partials/contact"
@import "partials/examples"

//shared styles
@import "partials/shared"

//Import code affecting browsers without javascript last
@import "no-js"

html
  font-size: 62.5%

body
  background-color: $navy

.hide
  position: absolute
  left: -9999px
  top: -9999px

.has-error
  .form-control
    background-color: #F3E2C8

.modal
  color: #333

  button
    color: white

.modal-header

  .close
    color: #333

  .modal-title
    color: #333

.feedback-sent
  min-height: 250px

.iphone-container
  padding-top: 60px

.subscribe-art
  position: absolute
  top: 0
  right: 0

.alt-icon
  max-width: 85px
  max-height: 135px

#title-slide h1
  color: #0d384f !important
  border-color: #0d384f !important

.language-bar
  background-color: rgba(13, 56, 79, 0.1)
  width: 100%
  padding-right: 20px
  position: absolute

.language-bar form
  margin: 0 0 0 15px

.language-bar form a
  font-size: 20px
  text-decoration: none
  color: white

.start, .story-image-container
  text-align: center