{% load static %}
{% load i18n %}
<div id="followers" class="tab-pane">
    <div class="profile-users clearfix">
        {% for user in followers %}
            <div class="itemdiv memberdiv">
                <div class="inline position-relative">
                    <div class="user">
                        <a href="{{ user.user_url }}">
                            <img src="{% get_media_prefix %}{{ user.profile.avatar }}"
                                 alt="{% blocktrans with user.first_name as name %}{{ name }}'s avatar{% endblocktrans %}"/>
                        </a>
                    </div>

                    <div class="body">
                        <div class="name">
                            <a href="{{ user.user_url }}">
                                <span class="user-status status-online"></span>
                                {{ user.get_full_name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>