.margin-bottom-10 {
    margin-bottom: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
    border-radius: 0 !important;
}

.about_publisher {
    width: 100%;
    margin-left: 10px;
}

textarea.about_publisher {
    display: inline-block;
}

.publishing-avatar-preview {
    min-width: 215px;
    min-height: 145px;
}

/**
 * Fix for publishing avatar preview resize
 * TODO: should we use image crop here?
 */
.file-label {
    min-height: 126px;
    min-width: 205px;
}

.selected .file-name.large {
    min-height: 125px;
}