<meta property="fb:app_id" content="{{ facebook_api_key }}"/>
<meta property="og:type" content="barddo-dev:comic"/>
<meta name="description" property="og:description" content="{{ work_description }}"/>
<meta property="og:url" content="{{ work_url }}"/>
<meta property="og:title" content="{{ work_title }}"/>
<meta property="og:image" content="{{ work_image }}"/>
<meta property="barddo-dev:collection" content="{{ collection_name }}"/>
<meta property="barddo-dev:artist" content="{{ artist_name }}"/>
