{% extends 'main_template.html' %}
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% load compress %}


{% block header %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "bootstrap-tagsinput/css/bootstrap-tagsinput.css" %}"/>
        <link rel="stylesheet" href="{% static "custom-modal/css/style.css" %}"/>
        <link rel="stylesheet" href="{% static "css/select2.css" %}"/>
        <link rel="stylesheet" href="{% static "barddo/css/barddo.publisher.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "core.index" %}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Publisher" %}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-content no-padding">
        <div class="features block">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-12 sketch">
                        <img src="{% static "barddo/img/sketch.png" %}">
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <div class="page-title text-center">
                            <h3>{% trans "Barddo for Artists" %}!</h3>
                            <button id="joinBarddoButton"
                                    class="{% if barddo_publisher %} disabled {% endif %}btn btn-orange btn-lg">
                                {% if not barddo_publisher %}{% trans "Join the Barddo publisher" %}{% else %}
                                    {% trans "You are a Barddo editor!" %}{% endif %}
                            </button>
                            <p class="text-left">
                                {% blocktrans %}
                                    Welcome!
                                    Are you an independent artist that wants to share your creations with the world? You're in the right place!
                                    Barddo will help you to achieve all of your goals as an artist.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shots block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-md-8">
                            <div class="shotcontent second">
                                <h3>{% trans "Mobility" %}</h3>

                                <p class="shot-para">
                                    {% blocktrans %}
                                        T"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    {% endblocktrans %}
                                </p>
                                <hr>

                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="shot-content-body">
                                            <h4><i class="icon-mobile-phone tblue"></i> {% trans "Mobile" %}</h4>

                                            <p>

                                                {% blocktrans %}
                                                    T"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    incididunt ut labore et dolore magna aliqua.
                                                {% endblocktrans %}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="shot-content-body">
                                            <h4><i class="icon-desktop tblue"></i> {% trans "Web" %}</h4>

                                            <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua." %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="height: 100px;" class="hidden-xs"></div>
                            <div class="screenshot">
                                <img src="{% static "img/phone-barddo-04.png" %}" alt="image"
                                     class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-md-8">
                            <div class="shotcontent second">
                                <h3>{% trans "Monetize your work" %}</h3>

                                <p class="shot-para">
                                    {% blocktrans %}
                                        T"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    {% endblocktrans %}
                                </p>
                                <hr>

                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="shot-content-body">
                                            <h4><i class="icon-money tblue"></i> {% trans "Money" %}</h4>

                                            <p>

                                                {% blocktrans %}
                                                    T"Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    incididunt ut labore et dolore magna aliqua.
                                                {% endblocktrans %}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="shot-content-body">
                                            <h4><i class="icon-dollar tblue"></i> {% trans "Cash" %}</h4>

                                            <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua." %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="height: 100px;" class="hidden-xs"></div>
                            <div class="screenshot">
                                <img src="{% static "barddo/img/cifrao.png" %}" alt="image"
                                     class="img-responsive"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_specific_javascript %}
    {% compress js %}
        <script src="{% static "bootstrap-tagsinput/js/bootstrap-tagsinput.js" %}"></script>
        <script src="{% static "ace/js/ace-elements.js" %}"></script>
        <script src="{% static "js/jquery.form.min.js" %}"></script>
        <script src="{% static "js/uncompressed/select2.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block bottom_page %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#joinBarddoButton").on("click", function () {
                Shards.join.barddo(function (shard_id, shard_data, parent) {
                    $(shard_id).remove();
                    $(parent).append(shard_data);
                    $(shard_id).modal('show');
                });
            });
        });

    </script>
{% endblock %}