<div id="modal-collection-{{ collection.id }}" class="modal fade collection-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="loginModalLabel"><i class="icon-th-large"></i> Collection Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="task-tab" class="tab-pane active">
                            <h4 class="smaller lighter green">
                                <i class="icon-list"></i>
                                Select a work bellow
                            </h4>

                            <div class="work-list-wrapper">
                                <div class="scroll-up scroll-indicator"><i class="icon-chevron-up"></i></div>
                                <ul id="work-list" class="item-list ui-sortable">

                                    {% for work in works %}
                                        <li class="item clearfix" style="padding:0">
                                            <label class="inline" style="width: 100%;">
                                                <a href="#" class="work-detail-load" data-id="{{ work.id }}"
                                                   style="display:block; padding: 10px">
                                                    <span class="badge badge-purple">#{{ work.unit_count }}</span>
                                                    <span class="lbl"> {{ work.title }}</span>
                                                </a>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="scroll-down scroll-indicator"><i class="icon-chevron-down"></i></div>
                            </div>
                        </div>
                    </div>
                    <div id="work-detail" class="col-sm-8">
                        {% include "modals/collection_detail.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        sortable_image_upload('#edit-work-upload', "#edit-work-files-preview", "#work-file-list li");

        $(".work-detail-load").on("click", function () {
            var id = $(this).attr("data-id");
            Shards.modal.work(function (shard_id, shard_data, parent) {
                $(parent).html(shard_data);
                sortable_image_upload('#edit-work-upload', "#edit-work-files-preview", "#work-file-list li");

            }, {"work_id": id}, "#work-detail");
        });


        $(".scroll-up").hide();
        $(".scroll-down").hide();

        // Scrollable work list visual tip
        $(".work-list-wrapper").scroll(function () {

            var threshold = 10;

            // there's something to up
            var topWindow = $(this).scrollTop();
            if (topWindow > threshold) {
                $(".scroll-up").fadeIn('slow');
            } else {
                $(".scroll-up").fadeOut('slow');
            }

            var hasScrollDown = $(this).get(0).scrollHeight - $(this).scrollTop() >= $(this).outerHeight() + threshold;
            if (hasScrollDown) {
                $(".scroll-down").fadeIn('slow');
            } else {
                $(".scroll-down").fadeOut('slow');
            }
        });


    });
</script>